
<header class="sub-header sub-header--white" id="header">
        <div class="sub-header__container container">
            <div class="sub-header__row row">
        

{% set breadcrumb_widget = widget('breadcrumb_widget') %}

{% if registry('title') is not empty or breadcrumb_widget is not empty %}
        <div class="sub-header__col">

                    <h1 class="ui header clearfix">
    {% if breadcrumb_widget is not empty %}
                        <div class="breadcrumb">{{ breadcrumb_widget|raw }}</div>
    {% endif %}
                        {{ registry('header_icon')|raw }}
                        <div class="content">
                            {{ registry('title')|raw }}
    {% if registry('subtitle') is not empty %}
                            <div class="sub header">{{ registry('subtitle')|raw }}</div>
    {% endif %}
                        </div>
                    </h1>



  <a v-on:click="trackHeaderCTA" v-bind:class="{ 'page-header--btn': showCta }" class="btn btn--three page-header--btn" href="#">Add New</a>

                </div>

{% endif %}
  </div>
        </div>

    </header>
<div id="panel" class="profile">


				<h3>
					Profile settings
				</h3>

				<p class="intro">
					Change your account information, avatar, login credentials, etc.
				</p>

				<form>
					<div class="form-group avatar-field clearfix">
					    <div class="col-sm-3">
					    	<img src="images/avatars/7.jpg" class="img-responsive img-circle" />
					    </div>
					    <div class="col-sm-9">
					    	<label>Set up your avatar picture</label>
					      	<input type="file" />
					    </div>
				  	</div>
				  	<div class="form-group">
						<label>Name</label>
						<input type="email" class="form-control" placeholder="Enter email" value="John Smith Jr" />
					</div>
				  	<div class="form-group">
						<label>Email address</label>
						<input type="email" class="form-control" placeholder="Enter email" value="john@gmail.com" />
					</div>
					<div class="form-group">
						<label>Timezone</label>
						<select id="user_time_zone" data-smart-select>
							<option value="Hawaii">(GMT-10:00) Hawaii</option>
							<option value="Alaska">(GMT-09:00) Alaska</option>
							<option value="Pacific Time (US &amp; Canada)">
								(GMT-08:00) Pacific Time (US &amp; Canada)
							</option>
							<option value="Arizona">(GMT-07:00) Arizona</option>
							<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
							<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
							<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
							<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
							<option value="" disabled="disabled">-------------</option>
							<option value="American Samoa">(GMT-11:00) American Samoa</option>
							<option value="International Date Line West">(GMT-11:00) International Date Line West</option>
							<option value="Midway Island">(GMT-11:00) Midway Island</option>
							<option value="Tijuana">(GMT-08:00) Tijuana</option>
							<option value="Chihuahua">(GMT-07:00) Chihuahua</option>
							<option value="Mazatlan">(GMT-07:00) Mazatlan</option>
							<option value="Central America">(GMT-06:00) Central America</option>
							<option value="Guadalajara">(GMT-06:00) Guadalajara</option>
							<option value="Mexico City">(GMT-06:00) Mexico City</option>
							<option value="Monterrey" >(GMT-06:00) Monterrey</option>
						</select>
					</div>
					<div class="form-group">
						<label>Street & Number</label>
						<input type="text" class="form-control" placeholder="Enter email" value="5th Avenue 3053" />
					</div>
					<div class="form-group">
						<label>City</label>
						<input type="text" class="form-control" placeholder="Enter email" value="San Francisco" />
					</div>
					<div class="form-group">
						<label>ZIP</label>
						<input type="text" class="form-control" placeholder="Enter email" value="3352" />
					</div>
					<div class="form-group">
						<label>New password</label>
						<input type="password" class="form-control" />
					</div>
					<div class="form-group">
						<label>Confirm new password</label>
						<input type="password" class="form-control" />
					</div>
					<div class="form-group action">
						<input type="submit" class="btn btn-success" value="Save changes" />
					</div>
				</form>
			</div>

		</div>
	</div>
	
	</div>

</div>

