<div id="sidebar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>
				
				<h3>My account</h3>
				<ul class="menu">
					<li>
						<a href="account/profile" class="active">
							<i class="ion-ios7-person-outline"></i>
							Profile
						</a>
					</li>
					<li>
						<a href="account/billing">
							<i class="ion-card"></i>
							Billing
						</a>
					</li>
					<li>
						<a href="account/notifications">
							<i class="ion-ios7-email-outline"></i>
							Notifications
						</a>
					</li>
					<li>
						<a href="account/support">
							<i class="ion-ios7-help-outline"></i>
							Support
						</a>
					</li>
				</ul>
			</div>
