/*
* Amazium V1.0.0
* Copyright 2011, Mike Ballan
* www.amazium.co.uk
*/


/***** Standard 960px *****/

	body									{ background:#232323; color:#f1f1f1; }

	.centered_div 							{ width:368px; height:400px; position:absolute; top:50%; left:50%; margin-left:-184px; margin-top:-200px; }
	.error-404								{ margin:30px 0 0 0; padding:0 0 0 85px; height:95px; background:url(../img/404.png) no-repeat left 10px; font-size:80px; line-height:75px; }
	.error									{ padding:0 0 30px 0; font-size:200px; line-height:150px; }
	.error-link								{ padding:0 0 20px 0; font-size:34px; }

	.centered_div a:link 					{ color:#fff; text-decoration:none; outline:0; }
	.centered_div a:visited 				{ color:#fff; text-decoration:none; outline:0; }
	.centered_div a:active 					{ color:#fff; text-decoration:none; outline:0; }
	.centered_div a:hover 					{ color:#fff; text-decoration:underline; outline:0; }
	.centered_div a:focus 					{ -moz-outline-style:none; }

/***** iPad Smaller than 959px *****/

	@media only screen and (min-width: 768px) and (max-width: 959px) {

	.error-404								{ font-size:72px; line-height:89px; }
	.error									{ font-size:178px; line-height:150px; }
	.error-link								{ font-size:28px; }

	}

/***** iPhone (portrait 300px) *****/

	@media only screen and (max-width: 767px) {

	.error-404								{ font-size:72px; line-height:89px; }
	.error									{ font-size:178px; line-height:150px; }
	.error-link								{ font-size:28px; }

	}

/***** iPhone (landscape 420px) *****/

	@media only screen and (min-width: 480px) and (max-width: 767px) {

	.error-404								{ font-size:72px; line-height:89px; }
	.error									{ font-size:178px; line-height:150px; }
	.error-link								{ font-size:28px; }

	}