
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F8F8;
}

.form-signin {
    max-width: 550px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
