/*
* Amazium V1.0.0
* Copyright 2011, Mike Ballan
* www.amazium.co.uk
*/


/***** Standard 960px *****/



/***** iPad Smaller than 959px *****/

	@media only screen and (min-width: 768px) and (max-width: 959px) {

	.wrapper-block [type="text"],
	.wrapper-block textarea					{ width:140px; }

	}

/***** iPhone (portrait 300px) *****/

	@media only screen and (max-width: 767px) {

	.main-logo img							{ width:348px; height:58px; }

	.wrapper-block label 					{ text-align:left; width:300px; }
	.wrapper-block [type="text"]			{ width:250px; margin:2px 0 15px 0; }
	.wrapper-block select					{ margin:2px 0 15px 0; }
	.wrapper-block [type="radio"]			{ margin:0 2px 15px 0; }
	.wrapper-block [type="checkbox"]		{ margin:0 2px 15px 0; }
	.wrapper-block textarea					{ width:200px; margin:2px 0 15px 0; }

	a.btn-form, input.btn-form				{ margin:5px 0 5px 0; }

	.small-label							{ text-align:left; width:350px; }

	}

/***** iPhone (landscape 420px) *****/

	@media only screen and (min-width: 480px) and (max-width: 767px) {

	.main-logo img							{ width:420px; height:70px; }

	.wrapper-block label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-block [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; }
	.wrapper-block select					{ font-size:12px; padding:2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; }
	.wrapper-block [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block textarea					{ padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; }

	a.btn-form, input.btn-form				{ margin:5px 0 5px 150px; padding:4px 28px 4px 8px; display:inline-block; font-size:11px; color:#fff; border:1px solid #444; background:#333 url(../img/btn-arrow.png) no-repeat right; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; cursor:pointer; }

	.small-label							{ display:block; font-size:10px; font-weight:normal; color:#666; text-align:right; width:140px; }

	}
