
/* This css is not a part of the official Amazium 1.0.0 release. */

/***** Standard 960px *****/

	.main-navigation 						{ margin:10px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid #333; width:100%; }
	.main-navigation li 					{ margin:0 30px 0 0; display:inline; }
	.main-navigation a 						{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
	.main-navigation a:hover 				{ padding:0 0 3px 0; border-bottom:5px solid #333; text-decoration:none; line-height:30px; color:#333; }
	.main-navigation .current a 			{ padding:0 0 3px 0; border-bottom:5px solid #333; text-decoration:none; line-height:30px; color:#333; }

	.row-example-top						{ padding:20px 0 0 0; }
	.row-example-bottom						{ padding:0 0 20px 0; }

	.example								{ padding:5px 0 5px 0; background-color:#eee; text-align:center; }

	.screens								{ float:right; margin:0 0 30px 30px; border:none; }

	.view-02, .view-03, .view-04			{ display:none; }

/***** iPad Smaller than 959px *****/

	@media only screen and (min-width: 768px) and (max-width: 959px) {

	.main-navigation li 					{ margin:0 19px 0 0; display:inline; }

	.view-02								{ display:block; }
	.view-01, .view-03, .view-04			{ display:none; }

	.wrapper-block [type="text"],
	.wrapper-block textarea					{ width:140px; }

	.screens								{ float:right; margin:0 0 30px 30px; border:none; }

	.download-icon img						{ width:88px; height:88px; }

	}

/***** iPhone (portrait 300px) *****/

	@media only screen and (max-width: 767px) {

	.main-logo img							{ width:348px; height:58px; }

	.main-navigation						{ border:none; }
	.main-navigation li 					{ width:300px; display:inline-block; border-bottom:1px solid #333; }
	.main-navigation a						{ padding:0 0 5px 0; display: inline-block; width:300px; }
	.main-navigation a:hover,
	.main-navigation .current a				{ padding:0; display: inline-block; width:300px; }

	.view-04								{ display:block; }
	.view-01, .view-02, .view-03			{ display:none; }

	.wrapper-block label 					{ text-align:left; width:300px; }
	.wrapper-block [type="text"]			{ width:250px; margin:2px 0 15px 0; }
	.wrapper-block select					{ margin:2px 0 15px 0; }
	.wrapper-block [type="radio"]			{ margin:0 2px 15px 0; }
	.wrapper-block [type="checkbox"]		{ margin:0 2px 15px 0; }
	.wrapper-block textarea					{ width:200px; margin:2px 0 15px 0; }

	a.btn-form, input.btn-form				{ margin:5px 0 5px 0; }

	.small-label							{ text-align:left; width:350px; }

	.screens								{ float:left; margin:0 0 30px 0; border:none; }

	}

/***** iPhone (landscape 420px) *****/

	@media only screen and (min-width: 480px) and (max-width: 767px) {

	.main-logo img							{ width:420px; height:70px; }

	.main-navigation li 					{ width:420px; }
	.main-navigation a						{ width:420px; }
	.main-navigation a:hover,
	.main-navigation .current a				{ width:420px; }

	.view-03								{ display:block; }
	.view-01, .view-02, .view-04			{ display:none; }

	.wrapper-block label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-block [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; }
	.wrapper-block select					{ font-size:12px; padding:2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; }
	.wrapper-block [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block textarea					{ padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; }

	a.btn-form, input.btn-form				{ margin:5px 0 5px 150px; padding:4px 28px 4px 8px; display:inline-block; font-size:11px; color:#fff; border:1px solid #444; background:#333 url(../img/btn-arrow.png) no-repeat right; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; cursor:pointer; }

	.small-label							{ display:block; font-size:10px; font-weight:normal; color:#666; text-align:right; width:140px; }

	.screens								{ float:left; margin:0 120px 30px 0; border:none; }

	}

