
{{#
Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2015
License: The MIT License, http://opensource.org/licenses/MIT
#}}

        <style>
            .image-container {
                border: 1px solid blue;
                display:table-cell;
                vertical-align:middle;
                text-align: center;
            }
            .image-container-120x180 {
                width: 120px;
                height: 180px;
            }
            .image-container-180x120 {
                width: 180px;
                height: 120px;
            }
        </style>

        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template:title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>See <a href="https://github.com/pyrocms/lex" target="_blank">https://github.com/pyrocms/lex</a></p>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">

                                <thead>

                                    <tr>
                                        <th class="col-sm-8" style="min-width: 300px;">Lex Code</th>
                                        <th class="col-sm-4">Result</th>
                                    </tr>

                                </thead>

                                <tfoot>

                                    <tr>
                                        <th>Lex Code</th>
                                        <th>Result</th>
                                    </tr>

                                </tfoot>

                                <tbody>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Accessing Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ template:title }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ template:title }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}Hello, {{ name }}!{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
Hello, {{ name }}!
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ value_0 }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ value_0 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ value_1 }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ value_1 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ value_2 }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ value_2 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ value_3 }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ value_3 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ string_123 }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ string_123 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ dog }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ dog }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ dog_entities }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ dog_entities }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:count value="[[ countries ]]" }} &lt;!-- Accessing within an attribute --&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:count value="[[ countries ]]" }} <!-- Accessing within an attribute -->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>get</strong> name="dog" }} &lt;!-- Accessing by using the helper function get --&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:get name="dog" }} <!-- Accessing by using the helper function var -->
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Debugging Previews</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>print_d</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d  value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>print_r</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_r  value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>var_dump</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:var_dump value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>var_export</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:var_export value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Assigning Variables</h4>
                                            <p>Note: Only <strong>helper:get</strong> can access variables assigned within a template.</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="my variable" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="my variable" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="10" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="10" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="[[ array_1 ]]" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="[[ array_1 ]]" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="[[helper:get name='array_1']]" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="[[helper:get name='array_1']]" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="1" type="boolean" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="1" type="boolean" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="10" type="integer" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="10" type="integer" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="250.5" type="float" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="250.5" type="float" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="[[helper:integer value='10']]" type="string" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="[[helper:integer value='10']]" type="string" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="250.5" type="array" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="250.5" type="array" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="[[helper:float value='250.5']]" type="array" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="[[helper:float value='250.5']]" type="array" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="250.5" type="object" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="250.5" type="object" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="[[helper:float value='250.5']]" type="object" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="[[helper:float value='250.5']]" type="object" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>set</strong> name="my_var" value="250.5" type="null" }}
{{ helper:print_d value="[[ my_var ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="my_var" value="250.5" type="null" }}
{{ helper:print_d value="[[ my_var ]]" }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Type Casting</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>boolean</strong> value='1' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:boolean value='1' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>integer</strong> value='10' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:integer value='10' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>float</strong> value='250.5' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:float value='250.5' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>string</strong> value='250.5' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:string value='250.5' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>array</strong> value='250.5' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:array value='250.5' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>object</strong> value='250.5' ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:object value='250.5' ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:print_d value="[[ helper:<strong>null</strong> ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:print_d value="[[ helper:null ]]" }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Helper Functions</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>character_limiter</strong> str="Very long text. Very long text." n="10" }}
&lt;br /&gt;
{{ helper:<strong>character_limiter</strong> str="[[very_long_text]]" n="10" end_char="&amp;#8230;" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:character_limiter str="Very long text. Very long text." n="10" }}
<br />
{{ helper:character_limiter str="[[very_long_text]]" n="10" end_char="&#8230;" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>count</strong> array="[[ array_1 ]]" }}
&lt;br /&gt;
{{ helper:<strong>count</strong> array="[[ array_2 ]]" }}
&lt;br /&gt;
{{ helper:<strong>count</strong> array="[[ array_2 ]]" mode="1" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:count value="[[ array_1 ]]" }}
<br />
{{ helper:count value="[[ array_2 ]]" }}
<br />
{{ helper:count value="[[ array_2 ]]" mode="1" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ countries_10 }}
{{ helper:<strong>counter</strong> }} -- ({{ code }}) {{ name }}&lt;br /&gt;
{{ /countries_10 }}
&lt;hr /&gt;
{{ countries_10 }}
{{ helper:<strong>counter</strong> identifier="countries_2" return="false" }}{{ helper:<strong>counter</strong> identifier="countries_3" mode="subtract" start="10" }} -- ({{ code }}) {{ name }}&lt;br /&gt;
{{ /countries_10 }}
----------------------------
&lt;br /&gt;
{{ helper:<strong>show_counter</strong> identifier="countries_2" }} countries.{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ countries_10 }}
{{ helper:counter }} -- ({{ code }}) {{ name }}<br />
{{ /countries_10 }}
<hr />
{{ countries_10 }}
{{ helper:counter identifier="countries_2" return="false" }}{{ helper:counter identifier="countries_3" mode="subtract" start="10" }} -- ({{ code }}) {{ name }}<br />
{{ /countries_10 }}
----------------------------
<br />
{{ helper:show_counter identifier="countries_2" }} countries.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ if {helper:<strong>empty</strong> value="[[value_0]]"} }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
&lt;br /&gt;
{{ if {helper:<strong>empty</strong> value="[[value_1]]"} }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ if {helper:empty value="[[value_0]]"} }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
<br />
{{ if {helper:empty value="[[value_1]]"} }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ if <strong>exists</strong> value_0 }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
&lt;br /&gt;
{{ if <strong>exists</strong> value_not_set }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ if exists value_0 }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
<br />
{{ if exists value_not_set }}
{{ helper:lang line="ui_yes" }}
{{ else }}
{{ helper:lang line="ui_no" }}
{{ endif }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:set name="one_two_three" value="[[helper:<strong>explode</strong> delimiter=', ' string='one, two, three']]" }}
{{ helper:print_d value="[[ one_two_three ]]" }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ helper:get name="one_two_three:0" }}
&lt;br /&gt;
{{ helper:get name="one_two_three:1" }}
&lt;br /&gt;
{{ helper:get name="one_two_three:2" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="one_two_three" value="[[helper:explode delimiter=', ' string='one, two, three']]" }}
{{ helper:print_d value="[[ one_two_three ]]" }}
<div class="clearfix"></div>
{{ helper:get name="one_two_three:0" }}
<br />
{{ helper:get name="one_two_three:1" }}
<br />
{{ helper:get name="one_two_three:2" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>gettype</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:gettype value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}&lt;a href="{{ helper:<strong>gmap_url</strong> latitude='42.66667' longitude='25.25' zoom='6' show_marker='true' }}" target="_blank"&gt;Bulgaria&lt;/a&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
<a href="{{ helper:gmap_url latitude='42.66667' longitude='25.25' zoom='6' show_marker='true' }}" target="_blank">Bulgaria</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>gravatar</strong> email="ivantcholakov@gmail.com" size="50" rating="g" url-only="no" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:gravatar email="ivantcholakov@gmail.com" size="50" rating="g" url-only="no" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>html_entity_decode</strong> string="[[ dog_entities ]]" flags="3" encoding="UTF-8" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:html_entity_decode string="[[ dog_entities ]]" flags="3" encoding="UTF-8" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>html_escape</strong> string="[[ dog ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:html_escape string="[[ dog ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>htmlentities</strong> string="[[ dog ]]" flags="3" encoding="UTF-8" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:htmlentities string="[[ dog ]]" flags="3" encoding="UTF-8" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>htmlspecialchars</strong> string="[[ dog ]]" flags="3" encoding="UTF-8" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:htmlspecialchars string="[[ dog ]]" flags="3" encoding="UTF-8" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>htmlspecialchars_decode</strong> string="[[ dog_entities ]]" flags="3" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:htmlspecialchars_decode string="[[ dog_entities ]]" flags="3" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>humanize</strong> string="FILE_READ_MODE" }}
&lt;br /&gt;
{{ helper:<strong>humanize</strong> string="FILE_READ_MODE" separator="_" }}
&lt;br /&gt;
{{ helper:<strong>humanize</strong> string="трейси_чапман" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:humanize string="FILE_READ_MODE" }}
<br />
{{ helper:humanize string="FILE_READ_MODE" separator="_" }}
<br />
{{ helper:humanize string="трейси_чапман" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>implode</strong> glue="; " pieces="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:implode glue="; " pieces="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_array</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_array value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_bool</strong> value="[[ boolean_true ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_bool value="[[ boolean_true ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}&lt;div id=&quot;map_canvas&quot; class=&quot;google-maps&quot;&gt;&lt;/div&gt;

&lt;script type=&quot;text/javascript&quot; src=&quot;{{ if helper:<strong>is_https</strong> }}https:{{ else }}http:{{ endif }}//maps.google.com/maps/api/js?sensor=false&quot;&gt;&lt;/script&gt;

&lt;script type=&quot;text/javascript&quot;&gt;
//&lt;![CDATA[

$(function() {

    var map;
    var map_marker;

    var data = {
        latitude: 42.66667,
        longitude: 25.25,
        zoom: 6
    }

    var position = new google.maps.LatLng(data.latitude, data.longitude);

    var options = {
         center: position,
         zoom: data.zoom,
         mapTypeId: google.maps.MapTypeId.ROADMAP
     };

     map = new google.maps.Map(document.getElementById(&#039;map_canvas&#039;), options);
     map_marker = new google.maps.Marker({map: map, position: position});
});

//]]&gt;
&lt;/script&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
<div id="map_canvas" class="google-maps"></div>

<script type="text/javascript" src="{{ if helper:is_https }}https:{{ else }}http:{{ endif }}//maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
//<![CDATA[

$(function() {

    var map;
    var map_marker;

    var data = {
        latitude: 42.66667,
        longitude: 25.25,
        zoom: 6
    }

    var position = new google.maps.LatLng(data.latitude, data.longitude);

    var options = {
         center: position,
         zoom: data.zoom,
         mapTypeId: google.maps.MapTypeId.ROADMAP
     };

     map = new google.maps.Map(document.getElementById('map_canvas'), options);
     map_marker = new google.maps.Marker({map: map, position: position});
});

//]]>
</script>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_int</strong> value="[[ value_0 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_int value="[[ value_0 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_integer</strong> value="[[ value_0 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_integer value="[[ value_0 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_null</strong> value="[[ value_null ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_null value="[[ value_null ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_numeric</strong> value="[[ string_10 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_numeric value="[[ string_10 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_object</strong> value="[[ object_123 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_object value="[[ object_123 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_scalar</strong> value="[[ string_123 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_scalar value="[[ string_123 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>is_string</strong> value="[[ string_123 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:is_string value="[[ string_123 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>isset</strong> var1="[[ string_123 ]]" var2="[[ value_0 ]]" var3="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:isset var1="[[ string_123 ]]" var2="[[ value_0 ]]" var3="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:set name="one_two_three" value="[[ helper:<strong>json_decode</strong> string='[[ json_123 ]]' ]]" }}
{{ helper:print_d value="[[ one_two_three ]]" }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ helper:get name="one_two_three:0" }}
&lt;br /&gt;
{{ helper:get name="one_two_three:1" }}
&lt;br /&gt;
{{ helper:get name="one_two_three:2" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:set name="one_two_three" value="[[ helper:json_decode string='[[ json_123 ]]' ]]" }}
{{ helper:print_d value="[[ one_two_three ]]" }}
<div class="clearfix"></div>
{{ helper:get name="one_two_three:0" }}
<br />
{{ helper:get name="one_two_three:1" }}
<br />
{{ helper:get name="one_two_three:2" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>json_encode</strong> value="[[ array_1 ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:json_encode value="[[ array_1 ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>lang</strong> line="welcome.hello" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:lang line="welcome.hello" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>ltrim</strong> str="****STRING****" character_mask="*" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:ltrim str="****STRING****" character_mask="*" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>md5</strong> str="****STRING****" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:md5 str="****STRING****" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>money_format</strong> format="%i" number="1234.56" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:money_format format="%i" number="1234.56" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}Fit an Image by Width
&lt;br /&gt;
&lt;img src=&quot;{{ helper:&lt;strong&gt;my_image_url&lt;/strong&gt; src=&quot;[[ my_image ]]&quot; width=&quot;120&quot; }}&quot; /&gt;
&lt;br &gt;
width = 120px

&lt;hr /&gt;

Fit an Image by Height
&lt;br /&gt;
&lt;img src=&quot;{{ helper:&lt;strong&gt;my_image_url&lt;/strong&gt; src=&quot;[[ my_image ]]&quot; width=&quot;&quot; height=&quot;120&quot; }}&quot; /&gt;
&lt;br &gt;
height = 120px

&lt;hr /&gt;

Fit an Image by Width and Height
&lt;br /&gt;
&lt;img src=&quot;{{ helper:&lt;strong&gt;my_image_url&lt;/strong&gt; src=&quot;[[ my_image ]]&quot; width=&quot;180&quot; height=&quot;120&quot; }}&quot; /&gt;
&lt;br &gt;
width = 180px, height = 120px

&lt;hr /&gt;

Resize an Image Within Width and Height
&lt;br /&gt;
&lt;div class=&quot;image-container image-container-180x120&quot;&gt;
    &lt;img src=&quot;{{ helper:&lt;strong&gt;my_image_url&lt;/strong&gt; src=&quot;[[ my_image ]]&quot; width=&quot;180&quot; height=&quot;120&quot; no_crop=&quot;yes&quot; }}&quot; /&gt;
&lt;/div&gt;
width = 180px, height = 120px

&lt;hr /&gt;

Fit an Image Within a Canvas with Given Width and Height
&lt;br /&gt;
&lt;div class=&quot;image-container image-container-180x120&quot;&gt;
    &lt;img src=&quot;{{ helper:&lt;strong&gt;my_image_url&lt;/strong&gt; src=&quot;[[ my_image ]]&quot; width=&quot;180&quot; height=&quot;120&quot; no_crop=&quot;yes&quot; keep_canvas_size=&quot;yes&quot; }}&quot; /&gt;
&lt;/div&gt;
width = 180px, height = 120px{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
Fit an Image by Width
<br />
<img src="{{ helper:my_image_url src="[[ my_image ]]" width="120" }}" />
<br >
width = 120px

<hr />

Fit an Image by Height
<br />
<img src="{{ helper:my_image_url src="[[ my_image ]]" width="" height="120" }}" />
<br >
height = 120px

<hr />

Fit an Image by Width and Height
<br />
<img src="{{ helper:my_image_url src="[[ my_image ]]" width="180" height="120" }}" />
<br >
width = 180px, height = 120px

<hr />

Resize an Image Within Width and Height
<br />
<div class="image-container image-container-180x120">
    <img src="{{ helper:my_image_url src="[[ my_image ]]" width="180" height="120" no_crop="yes" }}" />
</div>
width = 180px, height = 120px

<hr />

Fit an Image Within a Canvas with Given Width and Height
<br />
<div class="image-container image-container-180x120">
    <img src="{{ helper:my_image_url src="[[ my_image ]]" width="180" height="120" no_crop="yes" keep_canvas_size="yes" }}" />
</div>
width = 180px, height = 120px
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>nl2br</strong> string="[[ with_a_new_line ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:nl2br string="[[ with_a_new_line ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>number_format</strong> number="1234.56" decimals="2" dec_point="," thousands_sep=" " }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:number_format number="1234.56" decimals="2" dec_point="," thousands_sep=" " }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>preg_match</strong> pattern="/^(\.*)def/" subject="abcdef" matches="matches" flags="0" offset="0" }}
&lt;br /&gt;
Matches:
&lt;br /&gt;
{{ helper:print_d value="[[ matches ]]" }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ helper:get name="matches:0" }}
&lt;br /&gt;
{{ helper:get name="matches:1" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:preg_match pattern="/^(\.*)def/" subject="abcdef" matches="matches" flags="0" offset="0" }}
<br />
Matches:
<br />
{{ helper:print_d value="[[ matches ]]" }}
<div class="clearfix"></div>
{{ helper:get name="matches:0" }}
<br />
{{ helper:get name="matches:1" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>preg_match_all</strong> pattern="/def/" subject="abcdefabcdef" matches="" flags="0" offset="0" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:preg_match_all pattern="/def/" subject="abcdefabcdef" matches="" flags="0" offset="0" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>preg_replace</strong> pattern="/def/" replacement="defg" subject="abcdefabcdef" limit="-1" count="replacement_count" }}
&lt;br /&gt;
Replacement count: {{ helper:get name="replacement_count" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:preg_replace pattern="/def/" replacement="defg" subject="abcdefabcdef" limit="-1" count="replacement_count" }}
<br />
Replacement count: {{ helper:get name="replacement_count" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>rand_string</strong> }}
&lt;br /&gt;
{{ helper:<strong>rand_string</strong> length="20" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:rand_string }}
<br />
{{ helper:rand_string length="20" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>rtrim</strong> str="****STRING****" character_mask="*" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:rtrim str="****STRING****" character_mask="*" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>safe_mailto</strong> email="contact@example.com" title=="Contact Us" attributes='alt="Contact Us"' }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:safe_mailto email="contact@example.com" title=="Contact Us" attributes='alt="Contact Us"' }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>sha1</strong> str="apple" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:sha1 str="apple" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>slugify</strong> str="Pink Floyd" separator="-" }}
&lt;br /&gt;
{{ helper:<strong>slugify</strong> str="Пинк Флойд" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:slugify str="Pink Floyd" separator="-" }}
<br />
{{ helper:slugify str="Пинк Флойд" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>sprintf</strong> format="There are %d monkeys in the %s." arg1="5" arg2="tree" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:sprintf format="There are %d monkeys in the %s." arg1="5" arg2="tree" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>str_replace</strong> search="def" replace="defg" subject="abcdefabcdef" count="str_replace_count" }}
&lt;br /&gt;
Replacement count: {{ helper:get name="str_replace_count" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:str_replace search="def" replace="defg" subject="abcdefabcdef" count="str_replace_count" }}
<br />
Replacement count: {{ helper:get name="str_replace_count" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>stripos</strong> haystack="abcdEf" needle="deF" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:stripos haystack="abcdef" needle="def" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>strlen</strong> string="abcdef" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:strlen string="abcdef" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>strip_tags</strong> str="[[ dog ]]" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:strip_tags str="[[ dog ]]" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>strpos</strong> haystack="abcdef" needle="def" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:strpos haystack="abcdef" needle="def" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>strtolower</strong> string="aBcDeF" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:strtolower string="aBcDeF" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>strtoupper</strong> string="aBcDeF" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:strtoupper string="aBcDeF" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>substr</strong> string="abcdef" start="3" length="3" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:substr string="abcdef" start="3" length="3" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>trim</strong> str="****STRING****" character_mask="*" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:trim str="****STRING****" character_mask="*" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>ucfirst</strong> string="abcdef" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:ucfirst string="abcdef" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>ucwords</strong> string="abcdef abcdef" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:ucwords string="abcdef abcdef" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>url_title</strong> str="Limp Bizkit" separator="-" lowercase="true" }}
&lt;br /&gt;
{{ helper:<strong>url_title</strong> str="Лимп Бизкит" separator="-" lowercase="true" transliterate_to_ascii="true" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:url_title str="Limp Bizkit" separator="-" lowercase="true" }}
<br />
{{ helper:url_title str="Лимп Бизкит" separator="-" lowercase="true" transliterate_to_ascii="true" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>word_limiter</strong> str="abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef" limit="5" }}{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:word_limiter str="abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef abcdef" limit="5" }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:nl2br string="[[ helper:<strong>word_wrap</strong> str='The quick brown fox jumped over the lazy dog.' charlim='20' ]]" }} &lt;!-- CodeIgniter --&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:nl2br string="[[ helper:word_wrap str='The quick brown fox jumped over the lazy dog.' charlim='20' ]]" }} <!-- CodeIgniter -->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{{ noparse }}{{ helper:<strong>wordwrap</strong> str="The quick brown fox jumped over the lazy dog." width="20" break="&lt;br /&gt;" }} &lt;!-- PHP --&gt;{{ /noparse }}</code></pre>
                                        </td>
                                        <td>
{{ helper:wordwrap str="The quick brown fox jumped over the lazy dog." width="20" break="<br />" }} <!-- PHP -->
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>
