
        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>Source repository: <a href="https://github.com/gasparesganga/jquery-loading-overlay" target="_blank">https://github.com/gasparesganga/jquery-loading-overlay</a></p>
                        <p>For a full set of examples see: <a href="http://gasparesganga.com/labs/jquery-loading-overlay/" target="_blank">http://gasparesganga.com/labs/jquery-loading-overlay/</a></p>

                        <p><button id="example1" type="button" class="btn btn-default">Example 1 - Whole page Overlay</button></p>
                        <p><button id="example4" type="button" class="btn btn-default">Example 4 - Use Font Awesome spinner instead of gif image</button></p>

                    </div>

                </div>

            </div>

        </section>
