
        <div class="two column stackable ui grid">

            <div class="column">

                <h4>The Input HTML</h4>

                {{ html|raw }}

            </div>

            <div class="column">

                <h4>The Result Text</h4>

                <pre>{{ text|raw }}</pre>

            </div>

        </div>
