
        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template['page_title'] }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-6">

                        <h4>The Input Text</h4>

                        <pre>{{ text }}</pre>

                    </div>

                    <div class="col-md-6">

                        <h4>The Result</h4>

                        {{ html|raw }}

                    </div>

                </div>

            </div>

        </section>
