
        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template['page_title'] }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

{% if demo_ok %}
                        <h3>This page has been visited <strong>{{ visits }}</strong> times by <strong>{{ unique_visitors }}</strong> unique visitors.</h3>
{% else %}
                        <div class="alert alert-warning text-center">
                            {{ demo_error_message }}
                        </div>
{% endif %}

                    </div>

                </div>

            </div>

        </section>
