
{# Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2016 #}
{# License: The MIT License, http://opensource.org/licenses/MIT #}

        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <h2>You are using: {{ your_browser }}</h2>

                        <p>See <a href="https://github.com/WhichBrowser/Parser" target="_blank">https://github.com/WhichBrowser/Parser</a></p>

                    </div>

                </div>

            </div>

        </section>
