# OSX
#-------------------------
.DS_Store


# Windows
#-------------------------

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


# Project
#-------------------------

platform/writable/*
!platform/writable/.htaccess
!platform/writable/index.html

www/editor/*
!www/editor/.gitkeep

www/upload/*
!www/upload/.gitkeep

www/cache/*
!www/cache/.gitkeep

# IDE Files
#-------------------------
/nbproject/
