# OSX
#-------------------------
.DS_Store


# Windows
#-------------------------

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


# Project
#-------------------------

platform/writable/*
!platform/writable/.htaccess
!platform/writable/index.html

platform/upload/*
!platform/upload/.htaccess
!platform/upload/index.html
!platform/upload/userphotos/.gitkeep

public/editor/*
!public/editor/.gitkeep

public/upload/*
!public/upload/.gitkeep

public/cache/*
!public/cache/.gitkeep

# IDE Files
#-------------------------
/nbproject/
