{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2015-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{{ partial('pjax_subnavbar') }}

                        <p>A page containing a video</p>

                        <div class="ui 16:9 embed">{{ multiplayer.html(video)|raw }}</div>

                        <p><a href="{{ video|e('html_attr') }}" target="_blank" rel="noopener">{{ video }}</a></p>
