{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2015-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{{ partial('pjax_subnavbar') }}

                        <p>A page containing an image</p>

                        <p><img src="{{ image_path('playground.jpg') }}" class="ui fluid image" /></p>
