{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2015-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{{ partial('pjax_subnavbar') }}

                        <p>See <a href="https://github.com/defunkt/jquery-pjax" target="_blank" rel="noopener">https://github.com/defunkt/jquery-pjax</a></p>

                        <p>Click on the links on the links on the sub-menu. The corresponding pages should load fast.</p>
