
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    /* height: 60px; */
    min-height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}


/* Tables */

.table.table-valign-middle td,
.table .table-valign-middle td,
.table.table-valign-middle th,
.table .table-valign-middle th {
    vertical-align: middle;
}

.table th.table-actions{
    width: 1%;
}

.table td.table-actions {
    border-left: none;
    border-right: none;
}

.table-responsive table {
    width: 99.9%;   /* A fix for Datatables JavaScript. */
}

/* End Tables */


/* Thumbnails */

img.thumbnail-48 {
    width: 48px;
    max-width: 100%;
    height: auto;
}

img.thumbnail-96 {
    width: 96px;
    max-width: 100%;
    height: auto;
}

img.thumbnail-120 {
    width: 120px;
    max-width: 100%;
    height: auto;
}

img.thumbnail-160 {
    width: 160px;
    max-width: 100%;
    height: auto;
}

/* End Thumbnails */


/* Common-Purpose Styles */

.nobr { 
    white-space: nowrap;
}

.loud {
    font-weight: bold;
}

.shrink {
    width: 1%;
}

.expand {
    width: 100%;
}

.center-text {
    text-align: center;
}

/* End Common-Purpose Styles */
