/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'github';
@reset      : 'github';

/* Elements */
@button     : 'github';
@container  : 'github';
@divider    : 'github';
@flag       : 'github';
@header     : 'github';
@icon       : 'default';
@image      : 'github';
@input      : 'github';
@label      : 'github';
@list       : 'github';
@loader     : 'github';
@rail       : 'github';
@reveal     : 'github';
@segment    : 'github';
@step       : 'github';

/* Collections */
@breadcrumb : 'github';
@form       : 'github';
@grid       : 'github';
@menu       : 'github';
@message    : 'github';
@table      : 'github';

/* Modules */
@accordion  : 'github';
@checkbox   : 'github';
@dimmer     : 'github';
@dropdown   : 'github';
@embed      : 'github';
@modal      : 'github';
@nag        : 'github';
@popup      : 'github';
@progress   : 'github';
@rating     : 'github';
@search     : 'github';
@shape      : 'github';
@sidebar    : 'github';
@sticky     : 'github';
@tab        : 'github';
@transition : 'default';

/* Views */
@ad         : 'github';
@card       : 'github';
@comment    : 'github';
@feed       : 'github';
@item       : 'github';
@statistic  : 'github';

/* Custom */
@mixins     : 'github';
@utilities  : 'github';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/* End Config */