
        <div class="ui massive borderless menu page grid">

            <a class="brand item" href="{{ site_url() }}">v. {{ constant('PLATFORM_VERSION') }}</a>

            <div class="right menu">
                <a class="item" href="{{ site_url('logout') }}"><i class="power icon"></i> {{ lang('ui_logout') }}</a>
            </div>

        </div>
