
/* 
    Created on : 2015-10-30
    Author     : Ivan Tcholakov
    License    : MIT
*/


// front-theme


// Directories
@base-uri:                      "../../../";
@default-base-uri:              @base-uri;
@default-assets-uri:            "@{default-base-uri}assets/";

@theme-path:                    "./";
@default-assets-path:           "../../../../assets/";
@default-assets-less-path:      "@{default-assets-path}less/";
@default-assets-less-lib-path:  "@{default-assets-less-path}lib/";
@default-assets-css-path:       "@{default-assets-path}css/";
@default-assets-css-lib-path:   "@{default-assets-css-path}lib/";


// Variables and Mixins --------------------------------------------------------

// Common-Purpose Theme Variables
// None for now.

// Common mixins
@import "@{default-assets-less-lib-path}common/mixins.less";

// Boostrap + Material Design variables
@import "@{theme-path}variables-bootstrap-material-design.less";

// Boostrap mixins
@import "@{default-assets-less-lib-path}bootstrap-3/mixins.less";

// Bootstrap Material Design mixins
@import "@{default-assets-less-lib-path}bootstrap-material-design/_mixins.less";

// Site Structure Variables
// None for now.

// Colorbox Variables
@colorbox-example-dir: "example3/";
@colorbox-import-file: "@{default-assets-css-lib-path}colorbox/@{colorbox-example-dir}colorbox.css";
@colorbox-image-dir: "@{default-assets-uri}css/lib/colorbox/@{colorbox-example-dir}images/";

// Scroll To Top Link
@scroll-top-color: #fff;
@scroll-top-background-color: rgba(0, 150, 136, 0.5);
@scroll-top-width: 50px;
@scroll-top-height: 50px;
@scroll-top-radius: 50%;
@scroll-top-right: 15px;
@scroll-top-bottom: 15px;

// DataTables
@datatables-img-path: "@{default-assets-uri}img/lib/dataTables/";

// bootstrap-chosen Variables
@import "@{default-assets-less-lib-path}bootstrap-chosen/bootstrap-chosen-variables.less";
@chosen-sprite-path: "@{default-assets-uri}img/lib/bootstrap-chosen/chosen-sprite.png";
@chosen-sprite-retina-path: "@{default-assets-uri}img/lib/bootstrap-chosen/chosen-sprite@2x.png";

// Star Rating Variables
@import "@{default-assets-less-lib-path}bootstrap-star-rating/star-rating-variables.less";
@star-rating-img-path: "@{default-assets-uri}img/lib/bootstrap-star-rating/";

// bootstrap-select Variables
@import "@{default-assets-less-lib-path}bootstrap-select/variables.less";

// End Variables and Mixins ----------------------------------------------------


/*!
 *  Bootstrap 3
 */

// Reset and dependencies
@import "@{default-assets-less-lib-path}bootstrap-3/normalize.less";
@import "@{default-assets-less-lib-path}bootstrap-3/print.less";
@import "@{default-assets-less-lib-path}bootstrap-3/glyphicons-no-font-face.less";

// Core CSS
@import "@{default-assets-less-lib-path}bootstrap-3/scaffolding.less";
@import "@{default-assets-less-lib-path}bootstrap-3/type.less";
@import "@{default-assets-less-lib-path}bootstrap-3/code.less";
@import "@{default-assets-less-lib-path}bootstrap-3/grid.less";
@import "@{default-assets-less-lib-path}bootstrap-3/tables.less";
@import "@{default-assets-less-lib-path}bootstrap-3/forms.less";
@import "@{default-assets-less-lib-path}bootstrap-3/buttons.less";

// Components
@import "@{default-assets-less-lib-path}bootstrap-3/component-animations.less";
@import "@{default-assets-less-lib-path}bootstrap-3/dropdowns.less";
@import "@{default-assets-less-lib-path}bootstrap-3/button-groups.less";
@import "@{default-assets-less-lib-path}bootstrap-3/input-groups.less";
@import "@{default-assets-less-lib-path}bootstrap-3/navs.less";
@import "@{default-assets-less-lib-path}bootstrap-3/navbar.less";
@import "@{default-assets-less-lib-path}bootstrap-3/breadcrumbs.less";
@import "@{default-assets-less-lib-path}bootstrap-3/pagination.less";
@import "@{default-assets-less-lib-path}bootstrap-3/pager.less";
@import "@{default-assets-less-lib-path}bootstrap-3/labels.less";
@import "@{default-assets-less-lib-path}bootstrap-3/badges.less";
@import "@{default-assets-less-lib-path}bootstrap-3/jumbotron.less";
@import "@{default-assets-less-lib-path}bootstrap-3/thumbnails.less";
@import "@{default-assets-less-lib-path}bootstrap-3/alerts.less";
@import "@{default-assets-less-lib-path}bootstrap-3/progress-bars.less";
@import "@{default-assets-less-lib-path}bootstrap-3/media.less";
@import "@{default-assets-less-lib-path}bootstrap-3/list-group.less";
@import "@{default-assets-less-lib-path}bootstrap-3/panels.less";
@import "@{default-assets-less-lib-path}bootstrap-3/responsive-embed.less";
@import "@{default-assets-less-lib-path}bootstrap-3/wells.less";
@import "@{default-assets-less-lib-path}bootstrap-3/close.less";

// Components w/ JavaScript
@import "@{default-assets-less-lib-path}bootstrap-3/modals.less";
@import "@{default-assets-less-lib-path}bootstrap-3/tooltip.less";
@import "@{default-assets-less-lib-path}bootstrap-3/popovers.less";
@import "@{default-assets-less-lib-path}bootstrap-3/carousel.less";

// Utility classes
@import "@{default-assets-less-lib-path}bootstrap-3/utilities.less";
@import "@{default-assets-less-lib-path}bootstrap-3/responsive-utilities.less";


// Bootstrap Material Design

@import "@{default-assets-less-lib-path}bootstrap-material-design/_shadows.less";

body {
    background-color: @body-bg;
    &.inverse {
        background: #333333;
        &, .form-control {
            color: @mdb-text-color-light;
        }
        .modal,
        .panel-default,
        .card {
            &,
            .form-control {
                background-color: initial;
                color: initial;
            }
        }

    }
}


body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: @font-family-sans-serif;
    font-weight: 300;
}

h5, h6{
    font-weight: 400;
}

a, a:hover, a:focus {
    color: @brand-primary;

    & .material-icons {
        vertical-align: middle;
    }
}

@import "@{default-assets-less-lib-path}bootstrap-material-design/_form.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_welljumbo.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_buttons.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_checkboxes.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_togglebutton.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_radios.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_inputs.less";

legend {
    border-bottom: 0;
}

@import "@{default-assets-less-lib-path}bootstrap-material-design/_lists.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_navbar.less";

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    .divider {
        background-color: rgba(229, 229, 229, 0.12);
    }
    li {
        overflow: hidden;
        position: relative;
        a:hover {
            background-color: transparent;
            color: @brand-primary;
        }
    }
}

@import "@{default-assets-less-lib-path}bootstrap-material-design/_alerts.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_progress.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_typography.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_tabs.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_popups.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_cards.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_dialogs.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_panels.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/_dividers.less";

// Prevent highlight on mobile
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

@import "@{default-assets-less-lib-path}bootstrap-material-design/_themes.less";

// External plugins
@import "@{default-assets-less-lib-path}bootstrap-material-design/plugins/_plugin-snackbarjs.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/plugins/_plugin-nouislider.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/plugins/_plugin-selectize.less";
@import "@{default-assets-less-lib-path}bootstrap-material-design/plugins/_plugin-dropdownjs.less";

// Ripple effect
@import (less) "@{default-assets-css-lib-path}bootstrap-material-design/ripples.css";

/*!
 *  Material Design Icons, https://github.com/google/material-design-icons
 *  Guarantee the same typography regardless from where the font has been loaded.
 */
@import "@{default-assets-less-lib-path}material-icons/typography.less";
@import (less) "@{default-assets-css-lib-path}material-design-icons/material-icons.css";


/*!
 *  http://github.com/alxlit/bootstrap-chosen
 *  An alternate stylesheet for Chosen (http://harvesthq.github.com/chosen/).
 */
@import "@{default-assets-less-lib-path}bootstrap-chosen/bootstrap-chosen-source.less";
@import "@{default-assets-less-lib-path}chosen-image/bootstrap-chosenImage.less";

// A correction.
.chosen-container-multi .chosen-choices {
    padding-right: 5px;
}


/*!
 *  https://github.com/silviomoreto/bootstrap-select
 *  Bootstrap-select jQuery plugin (http://silviomoreto.github.io/bootstrap-select/).
 */
@import "@{default-assets-less-lib-path}bootstrap-select/bootstrap-select-source.less";


/*!
 *  Jasny Bootstrap, http://jasny.github.io/bootstrap/
 */
// Core variables and mixins
@import "@{default-assets-less-lib-path}jasny-bootstrap-3/variables.less";

// Core CSS
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/grid-container-smooth.less";
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/button-labels.less";

// Components
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/nav-tab-alignment.less";
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/navmenu.less";
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/alerts-fixed.less";

// Components w/ JavaScript
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/offcanvas.less";
//@import "@{default-assets-less-lib-path}jasny-bootstrap-3/rowlink.less";
@import "@{default-assets-less-lib-path}jasny-bootstrap-3/fileinput.less";


/*!
 *  DataTables - Bootstrap 3 Integration
 */
@import "@{default-assets-less-lib-path}dataTables/dataTables.bootstrap-source.less";
@import "@{default-assets-less-lib-path}dataTables/datatables.responsive-source.less";


/*!
 *  Social Buttons for Bootstrap, https://github.com/lipis/bootstrap-social
 */
@import "@{default-assets-less-lib-path}bootstrap-social/bootstrap-social.less";


/*!
 *  Bootstrap Modal Dialogs, https://github.com/nakupanda/bootstrap3-dialog
 */
@import "@{default-assets-less-lib-path}bootstrap3-dialog/bootstrap-dialog-source.less";

// boostrap-dialog Style Corrections

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
    cursor: move;
}

//.bootstrap-dialog .modal-header {
//    border-top-left-radius: 0;
//    border-top-right-radius: 0;
//}


// bootstrap-star-rating
@import "@{default-assets-less-lib-path}bootstrap-star-rating/star-rating-source.less";

/* bootstrap-star-rating customizations */

.star-rating.rating-custom, .star-rating-rtl.rating-custom {
    display: inline-block;
}

.rating-custom {
    font-size: 12px;
}

.star-rating.rating-custom .clear-rating, .star-rating-rtl.rating-custom .clear-rating {
    font-size: 13px;
}

.star-rating.rating-custom .caption, .star-rating-rtl.rating-custom .caption .label {
    font-size: 13px;
    line-height: 1.0;
}

/* End  bootstrap-star-rating customizations */


/*!
 *  Common Purpose Styles
 */
@import "@{default-assets-less-lib-path}common/common.less";
@import "@{default-assets-less-lib-path}bootstrap-3-pull/bootstrap-pull.less";
@import (less) "@{default-assets-css-lib-path}animate/animate.css";
@import (less) "@{default-assets-css-lib-path}google-code-prettify/prettify.css";


/*!
 *  Customizations
 */


/* Site Structure */

/* Sticky Footer Styles */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -70px;
    /* Pad bottom by footer height */
    padding: 0 0 70px;
    > .container {
        padding: 70px 15px 0;
    }
}

/* Set the fixed height of the footer here */
#footer {
    min-height: 70px;
    background-color: #f5f5f5;
}

/* End Sticky Footer Styles */

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

/* End Site Structure */


/* Scroll To Top Link - Customization */

#scroll-top {
    bottom: @scroll-top-bottom;
    right: @scroll-top-right;
    width: @scroll-top-width;
    height: @scroll-top-height;
    -webkit-border-radius: @scroll-top-radius;
    -moz-border-radius: @scroll-top-radius;
    border-radius: @scroll-top-radius;
    color: @scroll-top-color;
    background-color: @scroll-top-background-color;
}

#scroll-top i {
    left: ceil((@scroll-top-width - 20px) / 2);
    top: ceil((@scroll-top-height - 22px) / 2);
}

/* End Scroll To Top Link - Customization */


/* Tables */

.table.table-valign-middle td,
.table .table-valign-middle td,
.table.table-valign-middle th,
.table .table-valign-middle th {
    vertical-align: middle;
}

.table.table-valign-top td,
.table .table-valign-top td,
.table.table-valign-top th,
.table .table-valign-top th {
    vertical-align: top;
}

.table.table-valign-bottom td,
.table .table-valign-bottom td,
.table.table-valign-bottom th,
.table .table-valign-bottom th {
    vertical-align: bottom;
}

th.table-actions {
    width: .01%;
    border-left: none;
    border-right: none;
}

td.table-actions {
    border-left: none;
    border-right: none;
}

.table td.table-actions {
    border-left: none;
    border-right: none;
}

th.details-control {
    min-width: 35px;
}

td.details-control {
    background: url('@{default-assets-uri}img/lib/details-open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('@{default-assets-uri}img/lib/details-close.png') no-repeat center center;
}

.table-responsive table {
    width: 99.9%;   /* A fix for Datatables JavaScript. */
}

/* End Tables */


/* Forms */

label a .fa {
    vertical-align: middle;
    font-size: 150%;
}

label a, label a:hover, label a:focus {
    text-decoration: none;
}

label a:focus {
    outline: 0;
}

legend {
    font-size: 16px;
}

legend a, legend a:hover, legend a:focus {
    text-decoration: none;
}

legend a:focus {
    outline: 0;
}

legend a .fa {
    font-size: 150%;
}

.form-horizontal fieldset {
    padding-top: 15px;
}

.input-group-addon a {
    outline: 0;
}

/* End Forms */


/* Images */

/* Images With Rounded Corners */

.img-rounded-2 {
    border-radius: 2px;
}

.img-rounded-3 {
    border-radius: 3px;
}

.img-rounded-4 {
    border-radius: 4px;
}

.img-rounded-5 {
    border-radius: 5px;
}

.img-rounded-6 {
    border-radius: 6px;
}

.img-rounded-7 {
    border-radius: 7px;
}

.img-rounded-8 {
    border-radius: 8px;
}

.img-rounded-9 {
    border-radius: 9px;
}

.img-rounded-10 {
    border-radius: 10px;
}

/* End Images With Rounded Corners */


/* Thumbnails */

// http://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio

img.thumbnail-32 {
    display: block;
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

img.thumbnail-48 {
    display: block;
    max-width: 48px;
    max-height: 48px;
    width: auto;
    height: auto;
}

img.thumbnail-64 {
    display: block;
    max-width: 64px;
    max-height: 64px;
    width: auto;
    height: auto;
}

img.thumbnail-80 {
    display: block;
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}

img.thumbnail-96 {
    display: block;
    max-width: 96px;
    max-height: 96px;
    width: auto;
    height: auto;
}

img.thumbnail-120 {
    display: block;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

img.thumbnail-160 {
    display: block;
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
}

img.thumbnail-240 {
    display: block;
    max-width: 240px;
    max-height: 240px;
    width: auto;
    height: auto;
}

/* End Thumbnails */


/* Styles for Indicating Missing Items (Semi-Transparent, Grey Color) */

.missing img, img.missing {
    opacity: .3;
}

.missing img.img-thumbnail, img.img-thumbnail.missing {
    opacity: .7;
    background-color: #d3d3d3;
}

/* End Styles for Missing Items */

/* End Images */


/* Colorbox */

@import (inline) "@{colorbox-import-file}";

/* Colorbox Fix URLs */

#cboxLoadingGraphic {
    background-image: url("@{colorbox-image-dir}loading.gif");
}

#cboxPrevious {
    background-image: url("@{colorbox-image-dir}controls.png");
}

#cboxNext {
    background-image: url("@{colorbox-image-dir}controls.png");
}

#cboxClose {
    background-image: url("@{colorbox-image-dir}controls.png");
}

/* End Colorbox Fix URLs */

/* Colorbox Visual Corrections */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    outline: 0 !important;
}

/* End Colorbox */


/* Printing */

// http://www.itsupportguides.com/tech-tips-tricks/how-to-hide-urlhref-when-printing-bootstrap-website/
// http://stackoverflow.com/questions/7301989/need-to-remove-href-values-when-printing-in-chrome
@media print {
    a[href]:after {
        content: none !important;
    }
}

/* End Printing */
