/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'chubby';
@reset      : 'chubby';

/* Elements */
@button     : 'chubby';
@container  : 'chubby';
@divider    : 'chubby';
@flag       : 'chubby';
@header     : 'chubby';
@icon       : 'default';
@image      : 'chubby';
@input      : 'chubby';
@label      : 'chubby';
@list       : 'chubby';
@loader     : 'chubby';
@rail       : 'chubby';
@reveal     : 'chubby';
@segment    : 'chubby';
@step       : 'chubby';

/* Collections */
@breadcrumb : 'chubby';
@form       : 'chubby';
@grid       : 'chubby';
@menu       : 'chubby';
@message    : 'chubby';
@table      : 'chubby';

/* Modules */
@accordion  : 'chubby';
@checkbox   : 'chubby';
@dimmer     : 'chubby';
@dropdown   : 'chubby';
@embed      : 'chubby';
@modal      : 'chubby';
@nag        : 'chubby';
@popup      : 'chubby';
@progress   : 'chubby';
@rating     : 'chubby';
@search     : 'chubby';
@shape      : 'chubby';
@sidebar    : 'chubby';
@sticky     : 'chubby';
@tab        : 'chubby';
@transition : 'default';

/* Views */
@ad         : 'chubby';
@card       : 'chubby';
@comment    : 'chubby';
@feed       : 'chubby';
@item       : 'chubby';
@statistic  : 'chubby';

/* Custom */
@mixins     : 'chubby';
@utilities  : 'chubby';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/* End Config */