/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'amazon';
@reset      : 'amazon';

/* Elements */
@button     : 'amazon';
@container  : 'amazon';
@divider    : 'amazon';
@flag       : 'amazon';
@header     : 'amazon';
@icon       : 'default';
@image      : 'amazon';
@input      : 'amazon';
@label      : 'amazon';
@list       : 'amazon';
@loader     : 'amazon';
@rail       : 'amazon';
@reveal     : 'amazon';
@segment    : 'amazon';
@step       : 'amazon';

/* Collections */
@breadcrumb : 'amazon';
@form       : 'amazon';
@grid       : 'amazon';
@menu       : 'amazon';
@message    : 'amazon';
@table      : 'amazon';

/* Modules */
@accordion  : 'amazon';
@checkbox   : 'amazon';
@dimmer     : 'amazon';
@dropdown   : 'amazon';
@embed      : 'amazon';
@modal      : 'amazon';
@nag        : 'amazon';
@popup      : 'amazon';
@progress   : 'amazon';
@rating     : 'amazon';
@search     : 'amazon';
@shape      : 'amazon';
@sidebar    : 'amazon';
@sticky     : 'amazon';
@tab        : 'amazon';
@transition : 'default';

/* Views */
@ad         : 'amazon';
@card       : 'amazon';
@comment    : 'amazon';
@feed       : 'amazon';
@item       : 'amazon';
@statistic  : 'amazon';

/* Custom */
@mixins     : 'amazon';
@utilities  : 'amazon';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/* End Config */