<!-- Button trigger modal -->
<a v-on:click="trackHeaderCTA" v-bind:class="{ 'page-header--btn': showCta }" class="btn btn--three page-header--btn" href="#" data-toggle="modal" data-target="#AddCustomerModal">Add New</a>

