
                <div class="ui secondary stackable menu">
                    <a class="{% if subnavbar_item_active == 'user-mode' %}active {% endif %}item" href="{{ site_url('playground/online-editor/user-mode') }}">Online Editor - User Mode</a>
                    <a class="{% if subnavbar_item_active == 'admin-mode' %}active {% endif %}item" href="{{ site_url('playground/online-editor/admin-mode') }}">Online Editor - Admin Mode</a>
                </div>
