
            <div class="page-header">
                <h1>Administrator's Home Page</h1>
            </div>

            {{ widget('feedback_messages_widget', {
                'feedback_message_target': feedback_message_target,
                'normal_message': normal_message,
                'confirmation_message': confirmation_message,
                'warning_message': warning_message,
                'error_message': error_message,
                'full_width': false
            }) }}

            <p>
                You have to build your administration interface here.
            </p>

            <p>
                Back to the public site: <a href="{{ default_base_url() }}">{{ default_base_url() }}</a>
            </p>

            <p>A Material Design icon: <i class="mdi mdi-star"></i></p>
            <p>A Font Awesome icon: <i class="fa fa-star"></i></p>
            <p>A Glyphicon: <span class="glyphicon glyphicon-star"></span></p>
