/* This css-file in not a part of the official Amazium 1.0.0 release. */

/***** Typography *****/

	em 										{ font-style:italic; color:#666; }
	strong 									{ font-weight:bold; color:#333; }


/***** Links *****/
/*
	a:link 									{ color:#333; text-decoration:underline; outline:0; }
	a:visited 								{ color:#333; text-decoration:underline; outline:0; }
	a:active 								{ color:#333; text-decoration:underline; outline:0; }
	a:hover 								{ color:#333; text-decoration:none; outline:0; }
*/
