
/* 
    Created on : 2016-10-20
    Author     : Ivan Tcholakov
    License    : MIT
*/


// front-theme


// Directories
@base-uri:                      "../../../";
@default-base-uri:              @base-uri;
@default-assets-uri:            "@{default-base-uri}assets/";

@theme-path:                    "./";
@default-assets-path:           "../../../../assets/";
@default-assets-less-path:      "@{default-assets-path}less/";
@default-assets-less-lib-path:  "@{default-assets-less-path}lib/";
@default-assets-css-path:       "@{default-assets-path}css/";
@default-assets-css-lib-path:   "@{default-assets-css-path}lib/";


// Semantic UI
@theme-loader-path:             "../../../../themes/front_semantic_ui_default/less/front/";
@import "definitions/globals/mixins";
@import "@{default-assets-less-lib-path}/semantic/semantic.vendor.less";
& { @import "definitions/globals/utilities"; }


/*!
 *  Material Design Icons, https://github.com/google/material-design-icons
 *  Guarantee the same typography regardless from where the font has been loaded.
 */
@import "@{default-assets-less-lib-path}material-icons/typography.less";
@import (less) "@{default-assets-css-lib-path}material-design-icons/material-icons.css";


/*!
 *  DataTables - Semantic UI Integration
 */
@datatables-img-path: "@{default-assets-uri}img/lib/dataTables/";

@import "@{default-assets-less-lib-path}dataTables/dataTables.semanticui-source.less";

div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown {
    min-width: 100px;
}

div.dataTables_wrapper > div.ui.grid > div.row {
    padding-top: 0;
    padding-bottom: 0;
}

div.dataTables_wrapper > div.ui.grid > div.row:first-child {
    padding-top: 7px;
}

div.dataTables_wrapper > div.ui.grid > div.row div.column {
    padding-top: 7px;
    padding-bottom: 7px;
}

@import '@{default-assets-less-lib-path}dataTables/select.semanticui-variables.less';
@import '@{default-assets-less-lib-path}dataTables/select.semanticui-source.less';


/*!
 *  Common Purpose Styles
 */
@import (less) "@{default-assets-css-lib-path}animate/animate.css";
@import (less) "@{default-assets-css-lib-path}google-code-prettify/prettify.css";


/*!
 *  Customizations
 */


/* Tables */

th.details-control {
    min-width: 35px;
}

td.details-control {
    background: url('@{default-assets-uri}img/lib/details-open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('@{default-assets-uri}img/lib/details-close.png') no-repeat center center;
}

/* End Tables */


/* Colorbox */

@colorbox-example-dir: "example3/";
@colorbox-import-file: "@{default-assets-css-lib-path}colorbox/@{colorbox-example-dir}colorbox.css";
@colorbox-image-dir: "@{default-assets-uri}css/lib/colorbox/@{colorbox-example-dir}images/";

@import (inline) "@{colorbox-import-file}";

/* Colorbox Fix URLs */

#cboxLoadingGraphic {
    background-image: url("@{colorbox-image-dir}loading.gif");
}

#cboxPrevious {
    background-image: url("@{colorbox-image-dir}controls.png");
}

#cboxNext {
    background-image: url("@{colorbox-image-dir}controls.png");
}

#cboxClose {
    background-image: url("@{colorbox-image-dir}controls.png");
}

/* End Colorbox Fix URLs */

/* Colorbox Visual Corrections */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    outline: 0 !important;
}

/* End Colorbox */
