
<table class="ui celled striped compact table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}<tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td><img src="{{BASE_URI}}assets/img/lib/flags-iso/flat/32/{{code}}.png" /></td>
        </tr>{{/each}}
    </tbody>
</table>
