
        <div class="two column stackable ui grid">

            <div class="column">

                <h4>The Input Text</h4>

                <pre>{{ text }}</pre>

            </div>

            <div class="column">

                <h4>The Result</h4>

                {{ html|raw }}

            </div>

        </div>
