{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2015-2016
The MIT License, http://opensource.org/licenses/MIT
#}

                        <p>
                            <a href="https://github.com/mervick/material-design-icons" target="_blank">https://github.com/mervick/material-design-icons</a>
                            <br />
                            <a href="http://google.github.io/material-design-icons/#icon-font-for-the-web" target="_blank">http://google.github.io/material-design-icons/#icon-font-for-the-web</a>,
                            <a href="https://www.google.com/design/icons/" target="_blank">https://www.google.com/design/icons/</a>
                        </p>

{% if items is not empty %}

                        <table class="ui celled striped selectable compact table">

                            <thead>

                                <tr>
                                    <th class="four wide">Icon (size 4x)</th>
                                    <th class="six wide">Bootstrap-Like Tag (additional features are possible)</th>
                                    <th class="six wide">Tag with Ligature</th>
                                </tr>

                            </thead>

                            <tfoot>

                                <tr>
                                    <th>Icon (size 4x)</th>
                                    <th>Bootstrap-Like Tag (additional features are possible)</th>
                                    <th>Tag with Ligature</th>
                                </tr>

                            </tfoot>

                            <tbody>

    {% for item in items %}
                                <tr>
                                    <td><i class="mdi mdi-{{ item['name']|replace({ '_': '-' })|e('html_attr') }} mdi-4x"></i></td>
                                    <td>{{ '<i class="mdi mdi-' ~ item['name']|replace({ '_': '-' }) ~ '"></i>' }}</td>
                                    <td>{{ '<i class="material-icons">' ~ item['name'] ~ '</i>' }}</td>
                                </tr>
    {% endfor %}

                            </tbody>

                        </table>

{% endif %}
