<!--
Author Ivan Tcholakov <ivantcholakov@gmail.com>, 2016
License The MIT License, http://opensource.org/licenses/MIT
-->

            <div class="ui grid">

                <div class="sixteen wide mobile eight wide tablet four wide computer column">

                    <h4>Data (JSON Encoded)</h4>

                    <pre>{{data_json}}</pre>

                </div>

                <div class="sixteen wide mobile eight wide tablet four wide computer column">

                    <h4>The Template</h4>

                    <pre>{{mustache_template}}</pre>

                </div>

                <div class="sixteen wide mobile eight wide tablet four wide computer column">

                    <h4>The PHP Parser Result</h4>

                    {{{mustache_result}}}

                </div>

                <div class="sixteen wide mobile eight wide tablet four wide computer column">

                    <h4>The JavaScript Parser Result</h4>

                    <div id="the_result"></div>

                </div>

            </div>
