
                <div class="ui secondary stackable wrappable menu">
                    <a class="{% if subnavbar_item_active == 'basic_example' %}active {% endif %}item" href="{{ site_url('playground/slick') }}">Basic Example</a>
                    <a class="{% if subnavbar_item_active == 'example_2' %}active {% endif %}item" href="{{ site_url('playground/slick/example-2') }}">Example 2</a>
                </div>
