
{{ js('lib/slick/slick.min.js') }}

    <script type="text/javascript">
    //<![CDATA[

    (function($) {

        $('#slideshow_test .carousel').slick({
            mobileFirst: true,
            autoplay: true,
            dots: true,
            dotsClass: 'slick-dots mobile hidden',
            prevArrow: '<button type="button" class="slick-prev mobile hidden"><i class="angle left icon"></i></button>',
            nextArrow: '<button type="button" class="slick-next mobile hidden"><i class="angle right icon"></i></button>',
            pauseOnHover: false,
            fade: true,
            cssEase: 'linear'
        });

        $('#slideshow_test .buttons button.play').on('click', function() {

            $('#slideshow_test .carousel').slick('slickPlay');
        });

        $('#slideshow_test .buttons button.pause').on('click', function() {

            $('#slideshow_test .carousel').slick('slickPause');
        });

    })(jQuery);

    //]]>
    </script>


