
                <p>
                    See
                    <a href="https://github.com/t4t5/sweetalert" target="_blank" rel="noopener">https://github.com/t4t5/sweetalert</a>,
                    <a href="http://t4t5.github.io/sweetalert/" target="_blank" rel="noopener">http://t4t5.github.io/sweetalert/</a>
                </p>

                <p>
                    <button class="ui button" id="test_1">An error messge</button>
                <p>

                <p>
                    <button class="ui button" id="test_2">A basic example</button>
                <p>

                <p>
                    <button class="ui button" id="test_3">A title with a text under</button>
                <p>

                <p>
                    <button class="ui button" id="test_4">A success message</button>
                <p>

                <p>
                    <button class="ui button" id="test_5">A warning message, with a function attached to the "Confirm"-button...</button>
                <p>

                <p>
                    <button class="ui button" id="test_6">... and by passing a parameter, you can execute something else for "Cancel"</button>
                <p>

                <p>
                    <button class="ui button" id="test_7">A message with a custom icon</button>
                <p>

                <p>
                    <button class="ui button" id="test_8">A HTML message</button>
                <p>

                <p>
                    <button class="ui button" id="test_9">A message with auto close timer</button>
                <p>

                <p>
                    <button class="ui button" id="test_10">A replacement for the "prompt" function</button>
                <p>

                <p>
                    <button class="ui button" id="test_11">With a loader (for AJAX request for example)</button>
                <p>
