
                <p>
                    See
                    <a href="https://github.com/sweetalert2/sweetalert2" target="_blank" rel="noopener">https://github.com/sweetalert2/sweetalert2</a>,
                    <a href="https://sweetalert2.github.io/" target="_blank" rel="noopener">https://sweetalert2.github.io/</a>
                </p>

                <p>
                    <button class="ui fluid basic black button" id="test_1">An error messge</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_2">A basic example</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_3">A title with a text under</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_4">A success message</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_5">A warning message, with a function to process "Confirm" and "Cancel" buttons</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_6">A warning message, with a function to process "Confirm" and "Cancel" buttons (2)</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_7">A message with a custom icon</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_8">A HTML message</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_9">A message with auto close timer</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_10">A replacement for the "prompt" function</button>
                <p>

                <p>
                    <button class="ui fluid basic black button" id="test_11">With a loader (for AJAX request for example)</button>
                <p>
