
{# Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2016 #}
{# License: The MIT License, http://opensource.org/licenses/MIT #}

                        <h2>You are using: {{ your_browser }}</h2>

                        <p>See <a href="https://github.com/WhichBrowser/Parser" target="_blank">https://github.com/WhichBrowser/Parser</a></p>
