
<IfModule mod_headers.c>

    # Disable URL indexing by crawlers
    Header set X-Robots-Tag "noindex, nofollow, noarchive"

</IfModule>

<IfModule mod_rewrite.c>

    #Options +FollowSymlinks
    #Options +SymLinksIfOwnerMatch

    RewriteEngine On

    DirectoryIndex index.php index.html

    #RewriteBase /

    # Asset loader: When file not exists on local application "assets" folder, 
    # it is tried to be loaded from the common "assets" folder.
    RewriteCond %{REQUEST_URI} /assets/
    RewriteCond %{REQUEST_URI} \.(js|css|less|gif|bmp|ico|jpg|jpeg|jpe|mov|qt|mp3|xml|mp4|m4v|mpeg|mpg|pdf|png|swf|tif|tiff|wav|wma|wri|zip|eot|svg|ttf|woff|woff2|lang)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^assets/(.*) ../assets/$1 [L,QSA]

    # Search favorite icons at the upper directory if not found at the current.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)favicon\.ico$ $1../favicon\.ico [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)apple-touch-icon\.png$ $1../apple-touch-icon\.png [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)apple-touch-icon-precomposed\.png$ $1../apple-touch-icon-precomposed\.png [L]

    # Remove index.php segment from the URL.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !\.php$
    RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico|apple-touch-icon\.png|apple-touch-icon-precomposed\.png)
    # Modified by Ivan Tcholakov, 23-OCT-2014.
    # Avoiding "No input file specified" error.
    # See http://expressionengine.stackexchange.com/questions/11672/no-input-file-specified-htaccess/13376#13376
    #RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]
    RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
    #

    # http://www.controlstyle.com/articles/programming/text/if-mod-since-php/
    # for php5-cgi
    <IfModule mod_fcgid.c>
        RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
        RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
    </IfModule>
    <IfModule !mod_fcgid.c>
        # for Apache FCGI installations
        <IfModule !mod_php5.c>
            RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
            RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
        </IfModule>
    </IfModule>

</IfModule>

# ------------------------------------------------------------------------------
# | Suppressing / Forcing the "www." at the beginning of URLs                  |
# ------------------------------------------------------------------------------

# The same content should never be available under two different URLs especially
# not with and without "www." at the beginning. This can cause SEO problems
# (duplicate content), therefore, you should choose one of the alternatives and
# redirect the other one.

# By default option 1 (no "www.") is activated:
# http://no-www.org/faq.php?q=class_b

# If you'd prefer to use option 2, just comment out all the lines from option 1
# and uncomment the ones from option 2.

# IMPORTANT: NEVER USE BOTH RULES AT THE SAME TIME!

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Option 1: rewrite www.example.com -> example.com

<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
</IfModule>

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Option 2: rewrite example.com -> www.example.com

# Be aware that the following might not be a good idea if you use "real"
# subdomains for certain parts of your website.

# <IfModule mod_rewrite.c>
#    RewriteCond %{HTTPS} !=on
#    RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
#    RewriteCond %{HTTP_HOST} !=localhost [NC]
#    RewriteCond %{HTTP_HOST} !=127.0.0.1
#    RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# </IfModule>
