
              <div class="d-flex col-xl-6 align-items-stretch">

                <!-- Feed -->
                <div class="card mb-4">
                  <h6 class="card-header">Feed</h6>
                  <div class="card-body">
                    <div class="media pb-1 mb-3">
                      <div class="ui-feed-icon-container">
                        <span class="ui-icon ui-feed-icon ion ion-ios-thumbs-up bg-success text-white"></span>
                        <img src="assets/img/avatars/7-small.png" class="ui-w-40 rounded-circle" alt>
                      </div>
                      <div class="media-body align-self-center ml-3">
                        <a href="javascript:void(0)">Alice Hampton</a> liked
                        <a href="javascript:void(0)">Article Name</a>
                        <div class="text-muted small">2 hours ago</div>
                      </div>
                    </div>
                    <div class="media pb-1 mb-3">
                      <div class="ui-feed-icon-container">
                        <span class="ui-icon ui-feed-icon ion ion-ios-text bg-secondary text-white"></span>
                        <img src="assets/img/avatars/8-small.png" class="ui-w-40 rounded-circle" alt>
                      </div>
                      <div class="media-body align-self-center ml-3">
                        <a href="javascript:void(0)">Hallie Lewis</a> commented on
                        <a href="javascript:void(0)">Article Name</a>
                        <div class="my-1">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        </div>
                        <div class="text-muted small">2 hours ago</div>
                      </div>
                    </div>
                    <div class="media pb-1 mb-3">
                      <div class="ui-feed-icon-container">
                        <span class="ui-icon ui-feed-icon ion ion-ios-thumbs-down bg-danger text-white"></span>
                        <img src="assets/img/avatars/9-small.png" class="ui-w-40 rounded-circle" alt>
                      </div>
                      <div class="media-body align-self-center ml-3">
                        <a href="javascript:void(0)">Amanda Warner</a> disliked
                        <a href="javascript:void(0)">Article Name</a>
                        <div class="text-muted small">2 hours ago</div>
                      </div>
                    </div>
                    <div class="media">
                      <div class="ui-feed-icon-container">
                        <span class="ui-icon ui-feed-icon ion ion-md-checkmark bg-primary text-white"></span>
                        <img src="assets/img/avatars/11-small.png" class="ui-w-40 rounded-circle" alt>
                      </div>
                      <div class="media-body align-self-center ml-3">
                        <a href="javascript:void(0)">Belle Ross</a> followed
                        <a href="javascript:void(0)">Nelle Maxwell</a>
                        <div class="text-muted small">2 hours ago</div>
                      </div>
                    </div>
                  </div>
                  <a href="javascript:void(0)" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
                </div>
                <!-- / Feed -->

