	<div class="chart">
					<h3>
						Concurrent visitors last 2 weeks

						<div class="total pull-right hidden-xs">
							12,958 total
							
							<div class="change up">
								<i class="fa fa-chevron-up"></i>
								10%
							</div>
						</div>
					</h3>
					<div id="visitors-chart"></div>
				</div>

				<div class="charts-half clearfix">
					<div class="chart pull-left">
						<h3>
							Succesful payments

							<div class="total pull-right hidden-xs">
								$3,124.00 total
								
								<div class="change up">
									<i class="fa fa-chevron-up"></i>
									6.5%
								</div>
							</div>
						</h3>
						<div id="payments-chart"></div>
					</div>
					<div class="chart pull-right">
						<h3>
							New customers

							<div class="total pull-right hidden-xs">
								1,402 total
								
								<div class="change down">
									<i class="fa fa-chevron-down"></i>
									3.5%
								</div>
							</div>
						</h3>
						<div id="signups-chart"></div>
					</div>
				</div>
