<div class="metrics clearfix">
					<div class="metric">
						<span class="field">Total users</span>
						<span class="data">24,900</span>
					</div>
					<div class="metric">
						<span class="field">New sign ups</span>
						<span class="data">108</span>
					</div>
					<div class="metric">
						<span class="field">Sales this month</span>
						<span class="data">$674.00</span>
					</div>
					<div class="metric">
						<span class="field">Total Sales</span>
						<span class="data">$3,823.90</span>
					</div>
				</div>
