
              <div class="d-flex col-xl-6 align-items-stretch">

                    <div class="card mb-4">
                      <h6 class="card-header with-elements border-0 pr-0 pb-0">
                        <div class="card-header-title">Revenue</div>
                        <div class="card-header-elements ml-auto">
                          <div class="btn-group mr-3">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                              <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" id="revenue-dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0)">Action 1</a>
                              <a class="dropdown-item" href="javascript:void(0)">Action 2</a>
                            </div>
                          </div>
                        </div>
                      </h6>
                        <div class="px-2 mt-4">
                    <div class="w-100" style="height: 100%;">
  <canvas id="statistics-chart-1" width="770" height="320" style="display: block; width: 770px; height: 320px;"></canvas>
                    </div>
                  </div>
                      <div class="card-footer text-center py-3">
                        <div class="row">
                          <div class="col">
                            <div class="text-muted small">Mastercard</div>
                            <strong class="text-big">$2,000.00</strong>
                          </div>
                              <div class="col">
                            <div class="text-muted small">Visa</div>
                            <strong class="text-big">$2,000.00</strong>
                          </div>
                              <div class="col">
                            <div class="text-muted small">ACH</div>
                            <strong class="text-big">$2,000.00</strong>
                          </div>
                          <div class="col">
                            <div class="text-muted small">Bitcoin</div>
                            <strong class="text-big">$2,835.22</strong>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

				
