
				<div class="chart">
					<h3>
						Coustomers last 2 weeks

						<div class="total pull-right hidden-xs">
							12,958 total
							
							<div class="change up">
								<i class="fa fa-chevron-up"></i>
								10%
							</div>
						</div>
					</h3>
					<div id="visitors-chart"></div>
				</div>
