<div class="row row-bordered row-border-light container-m--y">
    
    
<h4 class="d-flex justify-content-between align-items-center py-2 mb-4">
              <div class="font-weight-bold">Shop Overview</div>
              <button type="button" class="btn btn-outline-primary btn-round">View reports</button>
            </h4>

<hr class="border-light container-m--x my-0">

<div class="row no-gutters row-bordered row-border-light bg-white align-items-stretch mb-5">

              <!-- Counters -->
              <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
                <div class="d-flex align-items-center container-p-x py-4">
                  <div class="lnr lnr-cart display-4 text-primary"></div>
                  <div class="ml-3">
                    <div class="text-muted small">Monthly sales</div>
                    <div class="text-large">2362</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
                <div class="d-flex align-items-center container-p-x py-4">
                  <div class="lnr lnr-earth display-4 text-primary"></div>
                  <div class="ml-3">
                    <div class="text-muted small">Monthly visits</div>
                    <div class="text-large">687,123</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
                <div class="d-flex align-items-center container-p-x py-4">
                  <div class="lnr lnr-gift display-4 text-primary"></div>
                  <div class="ml-3">
                    <div class="text-muted small">Products</div>
                    <div class="text-large">985</div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
                <div class="d-flex align-items-center container-p-x py-4">
                  <div class="lnr lnr-users display-4 text-primary"></div>
                  <div class="ml-3">
                    <div class="text-muted small">Users</div>
                    <div class="text-large">105,652</div>
                  </div>
                </div>
              </div>
              <!-- / Counters -->
              
               <!-- Latest comments -->
                <div class="d-flex col-lg-3 col-xs-3 card container-p-x py-4">
               <h5 class="text-muted font-weight-normal mb-4">Feed</h5>
                  <div class="pb-2">

                    <div class="media pb-1 mb-3">
                      <img src="assets/img/avatars/9-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                      <div class="media-body flex-truncate ml-3">
                        <a href="javascript:void(0)">Amanda Warner</a>
                        <span class="text-muted">commented on</span>
                        <a href="javascript:void(0)">Article Name</a>
                        <p class="text-truncate my-1">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <div class="clearfix">
                          <span class="float-left text-muted small">2 hours ago</span>
                        </div>
                      </div>
                    </div>

                    <div class="media pb-1 mb-3">
                      <img src="assets/img/avatars/8-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                      <div class="media-body flex-truncate ml-3">
                        <a href="javascript:void(0)">Hallie Lewis</a>
                        <span class="text-muted">commented on</span>
                        <a href="javascript:void(0)">Article Name</a>
                        <p class="text-truncate my-1">Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.</p>
                        <div class="clearfix">
                          <span class="float-left text-muted small">2 hours ago</span>
                        </div>
                      </div>
                    </div>

                    <div class="media pb-1 mb-3">
                      <img src="assets/img/avatars/7-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                      <div class="media-body flex-truncate ml-3">
                        <a href="javascript:void(0)">Alice Hampton</a>
                        <span class="text-muted">commented on</span>
                        <a href="javascript:void(0)">Article Name</a>
                        <p class="text-truncate my-1">Eam facilis laboramus reprehendunt ei, ex esse fastidii per.</p>
                        <div class="clearfix">
                          <span class="float-left text-muted small">2 hours ago</span>
                        </div>
                      </div>
                    </div>

                    <div class="media">
                      <img src="assets/img/avatars/6-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                      <div class="media-body flex-truncate ml-3">
                        <a href="javascript:void(0)">Mae Gibson</a>
                        <span class="text-muted">commented on</span>
                        <a href="javascript:void(0)">Article Name</a>
                        <p class="text-truncate my-1">Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.</p>
                        <div class="clearfix">
                          <span class="float-left text-muted small">2 hours ago</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <a href="javascript:void(0)" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
                </div>
                <!-- / payment feed -->

              <!-- Payments graph -->
              <div class="col-lg-6 col-xs-6 container-p-x py-4">
                <h5 class="text-muted font-weight-normal mb-4">Payments received</h5>

                <div style="height: 200px;">
                  <canvas id="payments-chart-1" width="1176" height="200" style="display: block; width: 1176px; height: 200px;"></canvas>
                </div>
       
              </div>
              <!-- / Payments graph -->
                
                  <!-- Payment stats -->
                <div class="d-flex col-lg-4 col-xl-3 container-p-x py-4">
            
                 <div class="mb-4 w-100">
    <h5 class="text-muted font-weight-normal mb-4 w-100">Payment sources</h5> 
                      
                      <div class="mb-2 d-flex align-items-center mt-2 w-100">
            <div class="lnr lnr-laptop-phone display-4 text-primary w-25"></div>
                  <div class="w-75 ml-2"> 
                    <span class="text-muted small">
                      <strong>Retail</strong> Payments</span>
                    <br>
                    <span class="text-big">$3,000.12</span>
                    </div>
                  </div>
                  
                    <div class="mb-3 d-flex align-items-center mt-3 w-100">
    <div class="lnr lnr-cloud-download display-4 text-primary w-25"></div>
            <div class="w-75 ml-0">
                    <span class="text-muted small">
                      <strong>Hosted Pages</strong> Payments</span>
                    <br>
                    <span class="text-big">$2,123.44</span>
            </div>
                  </div>
                  
                 <div class="mb-3 d-flex align-items-center mt-3 w-100">
    <div class="lnr lnr-location display-4 text-primary w-25"></div>
     <div class="w-75 ml-0">
                    <span class="text-muted small">
                      <strong>eShop</strong> Payments</span>
                    <br>
                    <span class="text-big">$3,000.12</span>
                    </div>
                  </div>
                  
                    <div class="mb-3 d-flex align-items-center mt-3 w-100">
            <div class="lnr lnr-code display-4 text-primary w-25"></div>
               <div class="w-75 ml-0">
                    <span class="text-muted small">
                      <strong>API</strong> Payments</span>
                    <br>
                    <span class="text-big">$3,000.12</span>
                </div>
        </div>
                  
                   <div class="mb-3 d-flex align-items-center mt-3 w-100">
     <div class="lnr lnr-laptop-phone display-4 text-primary w-25"></div>
        <div class="w-75 ml-0">
                    <span class="text-muted small">
                      <strong>Mobile</strong> Payments</span>
                    <br>
                    <span class="text-big">$3,000.12</span>
        </div>
                  </div>
                  
                  </div> <!-- /mb-4 -->
                  </div>
                  
                
              </div>
              <!-- /Payment stats -->
          

               
              <!-- Mini-graphs -->
             <div class="d-flex col-sm-3 align-items-center container-p-x py-4">
                  <div class="align-self-left w-50">
                    <span class="text-muted small">Monthly Income</span>
                    <br>
                    <span class="text-large">$5,123.56</span>
                  </div>
                <div class-"align-self-center ml-auto w-50">
                  <div class="text-muted small">View depth</div>
                     <span>
                  <strong class="text-large font-weight-normal">4.23</strong>
                  <sup class="text-success small">+ 12%</sup>
                  </span>
                </div>
                <div class="w-25 ml-auto">
                  <div style="height: 40px;">
                    <canvas id="statistics-chart-1" width="243" height="40" style="display: block; width: 243px; height: 40px;"></canvas>
                  </div>
                </div>
              </div>
              
            <div class="d-flex col-sm-3 align-items-center container-p-x py-4">
               <div class="align-self-left w-50">
                    <span class="text-muted small">
                      <strong>PayPal</strong> Payments</span>
                    <br>
                    <span class="text-big">$2,123.44</span>
                  </div>
              <div class-"align-self-center ml-auto w-50">
                  <div class="text-muted small">Bounce rate</div>
                  <span>
                  <strong class="text-large font-weight-normal">23%</strong>
                  <sup class="text-danger small">- 5%</sup>
                  </span>
                </div>
                <div class="w-25 ml-auto">
                  <div style="height: 40px;">
                    <canvas id="statistics-chart-3" width="243" height="40" style="display: block; width: 243px; height: 40px;"></canvas>
                  </div>
                </div>
              </div>
              
         <div class="d-flex col-sm-3 align-items-center container-p-x py-4">
             
              <div class="align-self-left w-50">
                    <span class="text-muted small">
                      <strong>Credit Card</strong> Payments</span>
                    <br>
                    <span class="text-big">$3,000.12</span>
                  </div>
              
             <div class-"align-self-center ml-auto w-50">
                  <div class="text-muted small">Bounce rate</div>
                  <span>
                  <strong class="text-large font-weight-normal">23%</strong>
                  <sup class="text-danger small">- 5%</sup>
                  </span>
                </div>
                <div class="w-25 ml-auto">
                  <div style="height: 40px;">
                    <canvas id="statistics-chart-3" width="243" height="40" style="display: block; width: 243px; height: 40px;"></canvas>
                  </div>
                </div>
              </div>
        
         <div class="d-flex col-sm-3 align-items-center container-p-x py-4">
           
              <div class="align-self-left w-50">
                    <span class="text-muted small">
                      <strong>E-Check</strong> Payments</span>
                    <br>
                    <span class="text-big">$5,000.12</span>
                  </div>
           
                 <div class-"align-self-center ml-auto w-50">
                  <div class="text-muted small">new subscriptions</div>
                  <span>
                  <strong class="text-large font-weight-normal">3:44</strong>
                  <sup class="text-success small">+ 2%</sup>
                  </span>
                </div>
                <div class="w-25 ml-auto">
                  <div style="height: 40px;">
                    <canvas id="statistics-chart-4" width="243" height="40" style="display: block; width: 243px; height: 40px;"></canvas>
                  </div>
                </div>
              </div>
              <!-- / Mini-graphs -->

     </div> <!-- / row -->
     
     
          </div><!-- / row-bordered -->