
            <p>
                You have to build your administration interface here.
            </p>

            <p>
                Back to the public site: <a href="{{ default_base_url() }}">{{ default_base_url() }}</a>
            </p>

            <p>A Font Awesome icon: <i class="fa fa-star"></i></p>
            <p>A Material Design icon: <i class="mdi mdi-star"></i></p>
