

<div class="container-fluid">
    
 
{{ widget('home/home_menubar_widget/index') }}



<div class="row">

{{ widget('home/dashboard_graph_widget/index') }}

{{ widget('home/activity_feed_widget/index') }}
</div>



<div class="container-fluid">
{{ widget('home/dashboard_metrics_widget/index') }}
</div>




<hr class=" mt-5 mb-5">



<div class="container-fluid mb-5">
  <div class="row row-bordered row-border-light mt-5">
<div class="col-md-6">
    <div class="card pb-4 mb-2">
            <div class="ui segment align-items-center">
	    
                    <form class="ui form">

                        <div class="field">

                            <label for="date_picker_test">
                                * jQuery Date Picker Test (yyyy-mm-dd):
                            </label>

                            <div class="ui left icon input">
                                <input type="text" class="signup__inputs" name="date_picker_test" id="date_picker_test"
                                    value=""
                                />
                                <i class="calendar icon"></i>
                            </div>

                        </div>

                    </form>

                <p>
                    <button class="ui button btn-primary btn--mini" id="test_4">A success message</button>
                </p>

                <p>
                    <a href="javascript://"
                       class="popover"
                       data-html="You see a popup here."
                       data-variation="wide"
                    >
                        <i class="help circle icon"></i> A popup test
                    </a>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_1">SMTP Encryption (testing a native select box 1):</label>

                            <select name="smtp_crypto" id="smtp_crypto_1" class="ui native dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_2">SMTP Encryption (testing a native select box 2):</label>

                            <select name="smtp_crypto" id="smtp_crypto_2" class="ui native selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto">SMTP Encryption (testing a nullable dropdown):</label>

                            <select name="smtp_crypto" id="smtp_crypto" class="ui nullable selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>
                <!----> </div>
<!----//col-md-6---> </div>
                
<div class="col-md-6">

<!----> </div>
<!----//row---> </div>
<!----//container-fluid---> </div>


<!----//container-fluid---> </div>
<!----//container-fluid---> </div>
           

