<div class="menubar">
{% set breadcrumb_widget = widget('breadcrumb_widget') %}

{% if registry('title') is not empty %}
        <div class="sub-header__col">

                    <h3 class="ui header clearfix">
                        {{ registry('header_icon')|raw }}
                            {{ registry('title')|raw }}
    {% if registry('subtitle') is not empty %}
                      <div class="sub header">{{ registry('subtitle')|raw }}</div>
    {% endif %}
                       
                    </h3>



  
                </div>

{% endif %}


				<div class="period-select hidden-xs">
					<form class="input-daterange">
						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="start" type="text" class="form-control datepicker" placeholder="02/27/2014" />
						</div>
						
						<p class="pull-left">to</p>

						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="end" type="text" class="form-control datepicker" placeholder="02/27/2014" />
						</div>
					</form>
				</div>
				
				
				<a class="btn btn--transparent btn--full" href="#">
                                Add New
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
			</div>
