<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>

				<div class="page-title">
					Display user Information
				</div>

				<div class="period-select hidden-xs">
					<form class="input-daterange">
						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="start" type="text" class="form-control datepicker" placeholder="02/27/2014" />
						</div>
						
						<p class="pull-left">to</p>

						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="end" type="text" class="form-control datepicker" placeholder="02/27/2014" />
						</div>
					</form>
				</div>
			</div>
