
            <p>
                You have to build your administration interface here.
            </p>

            <p>
                Back to the public site: <a href="{{ default_base_url() }}">{{ default_base_url() }}</a>
            </p>

            <p>A Font Awesome icon: <i class="fa fa-star"></i></p>
            <p>A Material Design icon: <i class="mdi mdi-star"></i></p>

{{ widget('home/quick_buttons_widget/index') }}

            <div class="ui hidden divider"></div>
            <p>
                <button class="ui button" id="test_4">A success message</button>
            </p>
            <script type="text/javascript">
            //<![CDATA[

            (function($) {

                $('#test_4').on('click', function() {

                    swal("Good job!", "You clicked the button!", "success");
                });

            })(jQuery);

            //]]>
            </script>

            <p>
                <a href="javascript://"
                   class="popover"
                   data-html="You see a popup here."
                   data-variation="wide"
                >
                    <i class="help circle icon"></i> A popup test
                </a>
            </p>
