 <h4 class="media align-items-center font-weight-bold py-3 mb-4">
              <img src="assets/img/avatars/1.png" alt="" class="ui-w-50 rounded-circle">
              <div class="media-body ml-3">
                Welcome back, Mike!
                <div class="text-muted text-tiny mt-1">
                  <small class="font-weight-normal">Today is Tuesday, 8 February 2018</small>
                </div>
              </div>
            </h4>

            <hr class="container-m--x mt-0 mb-4">

            <div class="row">
              <div class="d-flex col-xl-6 align-items-stretch">

                <!-- Account Info + Links -->
                <div class="card d-flex w-100 mb-4 h-75">
            <div class="row no-gutters row-bordered row-border-light h-100">
     <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
               <div class="border-light ui-bordered p-3 mt-2 w-100">
                    <div class="media align-items-center">
                      <div class="media-body small mr-3">
                        <div class="font-weight-semibold mb-3">STORAGE</div>
                        <div class="mb-1">Total: 500GB</div>
                        <div class="mb-1">Used: 429GB</div>
                        <div>Free: 71GB</div>
                      </div>
                      <div class="d-flex align-items-center position-relative" style="height:60px;width: 160px;">
                <div class="position-absolute" style="height:60px;top:0;">
<canvas id="statistics-chart-2" width="60" height="60" style="display: block; width:60px; height: 60px;"></canvas>
                        </div>
                    <div class="w-100 text-center font-weight-bold">86%</div>
                        </a>
                      </div>
                    </div>
                  </div>

                    </div>
                    
                    <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

                      <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
                        <i class="lnr lnr-hourglass display-4 d-block text-primary"></i>
                        <span class="media-body d-block ml-3">
                          <span class="text-big">
                            <span class="font-weight-bolder">152</span> Working Hours</span>
                          <br>
                          <small class="text-muted">Spent this month</small>
                        </span>
                      </a>

                    </div>
                    
                  </div>
                </div>
                <!-- / Account Info + Links -->
                </div>
                
              <div class="d-flex col-xl-6 align-items-stretch">
                
                          <!-- Stats + Links -->
                <div class="card d-flex w-100 mb-4 h-75">
             <div class="row no-gutters row-bordered row-border-light h-100">
                    <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

                      <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
                        <i class="lnr lnr-chart-bars display-4 d-block text-primary"></i>
                        <span class="media-body d-block ml-3">
                          <span class="text-big font-weight-bolder">$1,342.11</span>
                          <br>
                          <small class="text-muted">Earned this month</small>
                        </span>
                      </a>

                    </div>
                    <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

                      <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
                        <i class="lnr lnr-hourglass display-4 d-block text-primary"></i>
                        <span class="media-body d-block ml-3">
                          <span class="text-big">
                            <span class="font-weight-bolder">152</span> Working Hours</span>
                          <br>
                          <small class="text-muted">Spent this month</small>
                        </span>
                      </a>

                    </div>
                    
                  </div>
                </div>
                <!-- / Stats + Links -->

              </div>
              
              </div>
                <!-- / row -->