/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'classic';
@reset      : 'classic';

/* Elements */
@button     : 'classic';
@container  : 'classic';
@divider    : 'classic';
@flag       : 'classic';
@header     : 'classic';
@icon       : 'default';
@image      : 'classic';
@input      : 'classic';
@label      : 'classic';
@list       : 'classic';
@loader     : 'classic';
@rail       : 'classic';
@reveal     : 'classic';
@segment    : 'classic';
@step       : 'classic';

/* Collections */
@breadcrumb : 'classic';
@form       : 'classic';
@grid       : 'classic';
@menu       : 'classic';
@message    : 'classic';
@table      : 'classic';

/* Modules */
@accordion  : 'classic';
@checkbox   : 'classic';
@dimmer     : 'classic';
@dropdown   : 'classic';
@embed      : 'classic';
@modal      : 'classic';
@nag        : 'classic';
@popup      : 'classic';
@progress   : 'classic';
@rating     : 'classic';
@search     : 'classic';
@shape      : 'classic';
@sidebar    : 'classic';
@sticky     : 'classic';
@tab        : 'classic';
@transition : 'default';

/* Views */
@ad         : 'classic';
@card       : 'classic';
@comment    : 'classic';
@feed       : 'classic';
@item       : 'classic';
@statistic  : 'classic';

/* Custom */
@mixins     : 'classic';
@utilities  : 'classic';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/* End Config */
