<nav v-on:mouseleave="highlightActiveItem" v-bind:style="{ height: windowHeight + 'px' }" v-bind:class="{ 'navbar--active': isActive }" class="navbar">
               
            
            <div class="navbar__container">
        <div class="navbar__header">
          <a class="icon item" id="sidebar_toggle">
                    <i class="sidebar icon"></i>
                </a>
            <button type="button" v-bind:class="{ 'ctablet--extended': isActive }" v-on:click="closeNavigation" class="ctablet">
                <svg class="ctablet__arrow btn__arrow arrow">
                    <use xlink:href="#icon-arrow" />
                </svg>
            </button>
            <button type="button" v-bind:class="{ 'hamburger--extended': isActive }" v-on:click="toggle" class="hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar hamburger__bar--second"></span>
            </button>
               <a class="elektro-logo" href="{{ site_url() }}">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,e_grayscale,h_57,w_152/v1497453042/elektropay/assets/img/logo.png" alt="Elektropay icon white bg">
                
            </a>  


                <li class="subnavbar__li">
          <form class="search hidden-xs">
					<i class="fa fa-search"></i>
					<input type="text" name="q" placeholder="Search customers, clients...">
					<input type="submit">
				</form>
                </li>  
            
       <button type="button" v-bind:class="{ 'login-now--active': showCta }" v-on:click="" class="btn--elektro"> {{ widget('account_widget') }} </button>

</div>
        
<div v-bind:style="{ left: highlightLeft + 'px', width: highlightWidth + 'px' }" v-bind:class="{ 'navbar__highlight--active': highlightActive }" class="navbar__highlight"></div>
</nav>



      
<script>
            //<![CDATA[
      var $subnavbar = document.getElementsByClassName('subnavbar')[0];
      var $items = document.getElementsByClassName('subnavbar__li');
      var width = 0;
      if (window.innerWidth > 991) {
        for (i = 0; i < $items.length; i++) {
          width += $items[i].clientWidth + 33;
        }
        $subnavbar.style.width = (width - 30) + 'px';
      } else {
        $subnavbar.style.width = '100%';
      }
      $subnavbar.classList.add('subnavbar--active');
            //]]>
            </script>
