
    <div id="footer">
        <div class="container">
            <p class="text-muted">
                {% autoescape false %}{{ setting('copyright_note')|replace({'{year}': 'now'|date('Y'), '{organization}': setting('contact_organization')}) }}{% endautoescape %}
            </p>
        </div>
    </div>
