<div id="id="user-profile">
	<div id="wrapper">
		<div id="sidebar-default" class="main-sidebar">
			<div class="current-user">
				<a href="index.html" class="name">
					<img class="avatar" src="images/avatars/1.jpg" />
					<span>
						John Smith
						<i class="fa fa-chevron-down"></i>
					</span>
				</a>
				<ul class="menu">
					<li>
						<a href="account-profile.html">Account settings</a>
					</li>
					<li>
						<a href="account-billing.html">Billing</a>
					</li>
					<li>
						<a href="account-notifications.html">Notifications</a>
					</li>
					<li>
						<a href="account-support.html">Help / Support</a>
					</li>
					<li>
						<a href="signup.html">Sign out</a>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>General</h3>
				<ul>
					<li>
						<a href="index.html">
							<i class="ion-android-earth"></i> 
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-person-stalker"></i> <span>Lists & Tables</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="users.html">Customers list</a></li>
							<li><a href="datatables.html">Orders (Datatables)</a></li>
							<li><a href="search.html">Products (Filters)</a></li>
						</ul>
					</li>
					<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-stats-bars"></i> <span>Reports</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="reports.html">Reports orders</a></li>
							<li><a href="reports-alt.html">Report sales</a></li>
						</ul>
					</li>
					<li>
						<a href="form.html" data-toggle="sidebar">
							<i class="ion-pricetags"></i> <span>Forms</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="form.html">New Customer (validation)</a></li>
							<li><a href="form-product.html">New Product (add-ons)</a></li>
							<li><a href="wizard.html">Wizard</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>Application</h3>
				<ul>
					<li>
						<a href="account.html" class="active" data-toggle="sidebar">
							<i class="ion-earth"></i> <span>App Pages</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="sidebar.html">Inbox Messages</a></li>
							<li><a href="user-profile.html" class="active">User profile</a></li>
							<li><a href="latest-activity.html">Latest activity</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="steps.html">Steps to launch</a></li>
							<li><a href="calendar.html">Calendar</a></li>
						</ul>
					</li>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-card"></i> <span>Pricing</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="pricing.html">Pricing (Plans)</a></li>
							<li><a href="pricing-alt.html">Pricing charts</a></li>
							<li><a href="billing-form.html">Billing form</a></li>
							<li><a href="invoice.html">Invoice</a></li>
						</ul>
					</li>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-flash"></i> <span>Features</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="email-templates.html">Email templates</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="ui.html">UI Extras</a></li>
							<li><a href="docs.html">API Documentation</a></li>
							<li><a href="signup.html">Sign up</a></li>
							<li><a href="signin.html">Sign in</a></li>
							<li><a href="status.html">App Status</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>Admin</h3>
				<ul>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-person"></i> <span>My account</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="account-profile.html">Settings</a></li>
							<li><a href="account-billing.html">Billing</a></li>
							<li><a href="account-notifications.html">Notifications</a></li>
							<li><a href="account-support.html">Support</a></li>
						</ul>
					</li>
					<li>
						<a href="#" data-toggle="sidebar">
							<i class="ion-usb"></i> <span>Level Navigation</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="invoice.html" data-toggle="sidebar">
									Submenu
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="submenu">
									<li><a href="#">Last menu</a></li>
									<li><a href="#">Last menu</a></li>
								</ul>
							</li>
							<li><a href="invoice.html">Menu link</a></li>
							<li><a href="#">Extra link</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="bottom-menu hidden-sm">
				<ul>
					<li><a href="#"><i class="ion-help"></i></a></li>
					<li>
						<a href="#">
							<i class="ion-archive"></i>
							<span class="flag"></span>
						</a>
						<ul class="menu">
							<li><a href="#">5 unread messages</a></li>
							<li><a href="#">12 tasks completed</a></li>
							<!-- <li><a href="#">3 features added</a></li> -->
						</ul>
					</li>
					<li><a href="signup.html"><i class="ion-log-out"></i></a></li>
				</ul>
			</div>
		</div>

		<div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>
				
				<div class="page-title">
					John Stewart Profile
					<small class="hidden-xs" style="font-weight:600;">All tabs have content</small>
				</div>
				<a href="#" class="pull-right btn btn-primary">Edit user</a>
			</div>

			<div class="content-wrapper clearfix">
				<div class="profile-info">
					<div class="avatar">
						<img src="images/avatars/14.jpg" />
						<div class="name">Karen Matthews</div>
						<div class="position">Client</div>
						<div class="social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
					<div class="main-details clearfix">
						<div class="col">
							<div class="value">118</div>
							Orders
						</div>
						<div class="col">
							<div class="value">$31,250.00</div>
							Lifetime spent
						</div>
					</div>
					<div class="details">
						<div class="field">
							<label>Email</label>
							<div class="value">johh.stewart@gmail.com</div>
							<div class="sub">Home</div>
						</div>
						<div class="field">
							<label>Phone</label>
							<div class="value">(01) 123-123-1234</div>
							<div class="sub">Home</div>
						</div>
						<div class="field">
							<label>Address</label>
							<div class="value">
								5th Avenue 345 San Francisco 55589, CA. USA.
							</div>
						</div>
						<div class="field">
							<label>Signed up</label>
							<div class="value">
								03 Feb, 2013 (6 months ago)
							</div>
						</div>
					</div>
				</div>

				<div class="profile-content">
					<div class="tabs">
						<ul>
							<li>
								<a href="#" class="active">Activity Notes</a>
							</li>
							<li>
								<a href="#">Orders</a>
							</li>
							<li>
								<a href="#">Work</a>
							</li>
						</ul>
					</div>

					<div class="tab-content">
						<div class="tab notes active">
							<form>
								<div class="editor clearfix">
									<textarea class="form-control" rows="4" placeholder="Enter a new note..."></textarea>

									<div class="options clearfix">
										<button class="button" type="submit">
											<span>Submit note</span>
										</button>
										<div class="attach">
											<a href="#" data-toggle="tooltip" title="Add location">
												<i class="ion-location"></i>
											</a>
											<a href="#" data-toggle="tooltip" title="Add files">
												<i class="ion-paperclip"></i>
											</a>
											<a href="#" data-toggle="tooltip" title="Add a photo">
												<i class="ion-camera"></i>
											</a>
										</div>
									</div>
								</div>
							</form>

							<div class="filter clearfix">
								<h4 class="pull-left">Recent Notes</h4>

								<form class="pull-right">
									<select data-smart-select>
										<option>Sort by...</option>
										<option>Date</option>
										<option>User</option>
										<option>Attachments</option>
									</select>
								</form>
							</div>

							<div class="comments">
								<div class="row comment">
									<div class="col-sm-2">
										<img src="images/avatars/7.jpg" class="avatar img-responsive" />
									</div>
									<div class="col-sm-10">
										<div class="message clearfix">
											<header>
												<span class="name">John Arnold</span>
												<span class="date pull-right">2h ago</span>
											</header>
											<div class="note">
												<p>
													I love making the stuff, that’s sort of the core of it. I love creating the stuff. It’s so satisfying to get from the beginning to the end, from a shaky nothing idea to something that’s well formed and the audience really likes.
												</p>
												<p>
													You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art: apprentice, journeyman, master. 
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row comment">
									<div class="col-sm-2">
										<img src="images/avatars/5.jpg" class="avatar img-responsive" />
									</div>
									<div class="col-sm-10">
										<div class="message clearfix">
											<header>
												<span class="name">Jamie Lannister</span>
												<span class="date pull-right">6h ago</span>
											</header>
											<div class="note">
												<p>
													Functionality is so over-valued in design, and we’ve kept design very small in that way. Functionality is the sheer minimum. If your house burns down, what do you take? The cat in the window that you got from your mother, or the chair you have?
												</p>
												<div class="files clearfix">
													<div class="file">
														<img class="img-responsive" src="images/shots/4.png" />

														<span class="name">
															Some cool file name
														</span>
													</div>
													<div class="file">
														<img class="img-responsive" src="images/shots/5.png" />

														<span class="name">
															Website design screenshot
														</span>
													</div>
													<div class="file">
														<img class="img-responsive" src="images/shots/6.jpg" />

														<span class="name">
															New Dashboard panel
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row comment">
									<div class="col-sm-2">
										<img src="images/avatars/4.jpg" class="avatar img-responsive" />
									</div>
									<div class="col-sm-10">
										<div class="message clearfix">
											<header>
												<span class="name">Karen Stark</span>
												<span class="date pull-right">1 day ago</span>
											</header>
											<div class="note">
												<p>
													You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art: apprentice, journeyman, master. 
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row comment">
									<div class="col-sm-2">
										<img src="images/avatars/15.jpg" class="avatar img-responsive" />
									</div>
									<div class="col-sm-10">
										<div class="message clearfix">
											<header>
												<span class="name">John Williams</span>
												<span class="date pull-right">3 days ago</span>
											</header>
											<div class="note">
												<p>
													I love making the stuff, that’s sort of the core of it. I love creating the stuff. It’s so satisfying to get from the beginning to the end, from a shaky nothing idea to something that’s well formed and the audience really likes. 
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="load-more">
								<a href="#" class="btn btn-default">Load more comments</a>
							</div>
						</div>
						<div class="tab orders">
							<table id="datatable-example">
			                    <thead>
			                        <tr>
			                            <th tabindex="0" rowspan="1" colspan="1">Order
			                            </th>
			                            <th tabindex="0" rowspan="1" colspan="1">Date
			                            </th>
			                            <th tabindex="0" rowspan="1" colspan="1">Status
			                            </th>
			                            <th tabindex="0" rowspan="1" colspan="1">Total
			                            </th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <tr>
			                            <td>
			                            	<a href="#">#1445</a>
			                            </td>
			                            <td>
			                            	Mar 11, 11:50am

			                            	<i class="ion-alert-circled" data-toggle="tooltip" title="This order is urgent to ship">
			                            	</i>
			                            </td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#1897</a>
			                            </td>
			                            <td>Mar 10, 06:50am</td>
			                            <td><span class="label label-warning">Pending</span></td>
			                            <td>$699.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#1089</a>
			                            </td>
			                            <td>Mar 08, 01:43pm</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$1,879.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#1883</a>
			                            </td>
			                            <td>Mar 07, 07:30pm</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$279.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#2288</a>
			                            </td>
			                            <td>Mar 04, 04:30pm</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#3978</a>
			                            </td>
			                            <td>Mar 11, 11:50am</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#6876</a>
			                            </td>
			                            <td>Mar 04, 04:30pm</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#3445</a>
			                            </td>
			                            <td>Mar 11, 11:50am</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                        <tr>
			                            <td>
			                            	<a href="#">#3445</a>
			                            </td>
			                            <td>Mar 11, 11:50am</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
									<tr>
			                            <td>
			                            	<a href="#">#3445</a>
			                            </td>
			                            <td>Mar 11, 11:50am</td>
			                            <td><span class="label label-default">Paid</span></td>
			                            <td>$399.99</td>
			                        </tr>
			                   	</tbody>
			                </table>
						</div>
						<div class="tab work">
							<div class="row">
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/1.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/2.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/3.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/4.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/5.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/6.jpg" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/7.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/8.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/9.png" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="pic">
										<div class="mask">
											<div class="title">My Finder</div>
											<div class="description">
												I was working on it a little too while ago
												and thought I tink this is getting pretty good.
											</div>
											<div class="date">
												08 Feb, 2014
											</div>
										</div>
										<img class="img-responsive" src="images/shots/10.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="skin-switcher">
		<div class="toggler">
			<i class="brankic-brush"></i>
		</div>
		<ul class="menu">
			<li>
				<a class="active" data-skin="sidebar-default" href="#">
					<span class="color default"></span> Default
					<i class="fa fa-check"></i>
				</a>
			</li>
			<li>
				<a data-skin="sidebar-clear" href="#">
					<span class="color clear"></span> Clear
					<i class="fa fa-check"></i>
				</a>
			</li>
			<li>
				<a data-skin="sidebar-black" href="#">
					<span class="color black"></span> Black
					<i class="fa fa-check"></i>
				</a>
			</li>
			<li>
				<a data-skin="sidebar-dark" href="#">
					<span class="color dark"></span> Dark
					<i class="fa fa-check"></i>
				</a>
			</li>
			<li>
				<a data-skin="sidebar-flat" href="#">
					<span class="color flat"></span> Flat
					<i class="fa fa-check"></i>
				</a>
			</li>
			<li>
				<a data-skin="sidebar-flat-dark" href="#">
					<span class="color flat-dark"></span> Flat dark
					<i class="fa fa-check"></i>
				</a>
			</li>
		</ul>
	</div>


<div id="content" class="container">

<div class="content-wrapper">	

<div class="two-col__row row">

{{ widget('profile/profile_buttons_widget/index') }}
</div>

 
                    <div class="two-col__row row">
		    
                        <div class="two-col__col">
        <img class="two-col__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_060e012c8487784e655524c9661b5008.jpg 256w" alt="Fast &amp; cheap transfers">
                        </div>
			
                        <div class="two-col__col two-col__col--second">
                            <h2 class="h3 two-col__h2">Edit Your Profile</h2>
                            <h3 class="h2 two-col__h3">Sending money abroad</h3>
                            <p class="two-col__copy">
			    
			    </p>
                            <a class="two-col__btn btn btn--transparent btn--full" href="international-money-transfer.html">
                                Send money for less
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </div>
                        </div>
			
                    </div>
		    
        
</div>
</div>
 </div> 


